<div class="sto-carrousel">
    <div class="sto-arrow-left sto-product sto-mini-product"><img/></div>
    <div class="sto-arrow-left sto-custom-arrow-left sto-arrows"></div>
    <div class="sto-main-product">
        <div class="sto-product sto-product-center"></div>
        <div class="sto-product-container"></div>
    </div>
    <div class="sto-arrow-right sto-custom-arrow-right sto-arrows"></div>
    <div class="sto-arrow-right sto-product sto-mini-product"><img/></div>
</div>
