<div class="sto-image-container sto-left-side">
    <div class="sto-mobile-box sto-mobile-header"></div>
    <div class="sto-logo-mobile"></div>
    <div class="sto-option"></div>
    <div class="sto-buttons-wrapper"></div>
</div>
<div class="sto-product-container sto-right-side"></div>
