/** GENERAL **/
/* * {
  margin: 0;
  padding: 0;
}*/
.sto-__TAG__-container[data-type="SE"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  height: 120px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid lightgray;
}

.sto-__TAG__-container[data-type="SE"] .sto-bg-right {
  width: 0;
  display: none !important;
}

.sto-__TAG__-container[data-type="SE"] .sto-format {
  font-size: 0;
  position: relative;
  text-align: center;
  height: 120px;
  max-width: 1152px;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.sto-__TAG__-container[data-type="SE"] .sto-format > div,
.sto-__TAG__-container[data-type="SE"] .sto-main-product,
.sto-__TAG__-container[data-type="SE"] .sto-mini_product {
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 120px;
  position: relative;
  vertical-align: middle;
}

.sto-__TAG__-container[data-type="SE"] .sto-main-product .sto-product-center {
  cursor: pointer;
  width: 120px;
  height: 120px;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  left: 25px;
}

.sto-__TAG__-container[data-type="SE"] .sto-arrows,
.sto-__TAG__-container[data-type="SE"] .sto-arrows-hover {
  position: absolute;
  top: 44px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 10;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  display: none;
}

.sto-__TAG__-container[data-type="SE"] .sto-arrow-left.sto-arrows,
.sto-__TAG__-container[data-type="SE"] .sto-arrow-left.sto-arrows-hover {
  left: 50%;
  -webkit-transform: translateX(-205px);
  -moz-transform: translateX(-205px);
  -ms-transform: translateX(-205px);
  -o-transform: translateX(-205px);
  transform: translateX(-205px);
}

.sto-__TAG__-container[data-type="SE"] .sto-arrow-right.sto-arrows,
.sto-__TAG__-container[data-type="SE"] .sto-arrow-right.sto-arrows-hover {
  right: 50%;
  -webkit-transform: translateX(205px) rotate(180deg);
  -moz-transform: translateX(205px) rotate(180deg);
  -ms-transform: translateX(205px) rotate(180deg);
  -o-transform: translateX(205px) rotate(180deg);
  transform: translateX(205px) rotate(180deg);
}

.sto-__TAG__-container[data-type="SE"] .sto-carrousel {
  width: 608px;
  background-image: none !important;
}

.sto-__TAG__-container[data-type="SE"] .sto-__TAG__-container[data-count="1"] .sto-carrousel {
  width: 384px;
}

.sto-__TAG__-container[data-type="SE"] .sto-carrousel .sto-carrousel-rigth-version {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  display: none;
}

.sto-__TAG__-container[data-type="SE"][data-count="2"] .sto-carrousel,
.sto-__TAG__-container[data-type="SE"][data-count="3"] .sto-carrousel {
  width: 496px;
  text-align: right;
}

.sto-__TAG__-container[data-type="SE"] .sto-main-product {
  width: 384px;
  position: relative;
  top: 0;
  margin: 0 auto;
  overflow: hidden;
}

.sto-__TAG__-container[data-type="SE"] .sto-mobile-box {
  display: none;
}

.sto-__TAG__-container[data-type="SE"] .sto-buttons-wrapper {
  height: 120px;
  display: none;
}

.sto-__TAG__-container[data-type="SE"][data-count="1"] .sto-buttons {
  display: none;
}

.sto-__TAG__-container[data-type="SE"] .sto-buttons {
  height: 120px;
  width: 100%;
  position: absolute;
}

.sto-__TAG__-container[data-type="SE"] .sto-buttons .sto-button,
.sto-__TAG__-container[data-type="SE"] div.sto-option {
  font-family: 'Roboto', sans-serif;
  max-width: 108px;
  width: 108px;
  height: 30px;
  margin: 0 auto 5px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 11.5px;
  text-align: center;
  position: absolute;
  z-index: 1;
  outline: none;
  border: 0;
}

.sto-__TAG__-container[data-type="SE"] .sto-buttons button:nth-of-type(1) {
  top: 10px;
  left: 0;
}

.sto-__TAG__-container[data-type="SE"] .sto-buttons button:nth-of-type(2) {
  top: 45px;
  left: 0;
}

.sto-__TAG__-container[data-type="SE"] .sto-buttons button:nth-of-type(3) {
  bottom: 5px;
  left: 0;
}

.sto-__TAG__-container[data-type="SE"] .sto-buttons button:nth-of-type(4) {
  top: 10px;
  right: 0;
}

.sto-__TAG__-container[data-type="SE"] .sto-buttons button:nth-of-type(5) {
  top: 45px;
  right: 0;
}

.sto-__TAG__-container[data-type="SE"] .sto-buttons button:nth-of-type(6),
.sto-__TAG__-container[data-type="SE"] .sto-buttons div.sto-option {
  bottom: 5px;
  right: 0;
}

.sto-__TAG__-container[data-type="SE"][data-count="2"] .sto-buttons div.sto-option,
.sto-__TAG__-container[data-type="SE"][data-count="3"] .sto-buttons div.sto-option {
  bottom: 5px;
  right: auto;
  left: 0;
}

.sto-__TAG__-container[data-type="SE"] div.sto-option {
  padding: 0;
}

.sto-__TAG__-container[data-type="SE"] div.sto-option .sto-option-text {
  position: absolute;
  width: 100%;
  top: 50%;
  text-decoration: underline;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sto-__TAG__-container[data-type="SE"] .sto-buttons .sto-buttons-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.sto-__TAG__-container[data-type="SE"] .sto-logo {
  float: left;
  height: 120px;
  width: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sto-__TAG__-container[data-type="SE"] .sto-logo2 {
  display: none !important;
  width: 150px;
}

.sto-__TAG__-container[data-type="SE"] .sto-design-left {
  width: 138px;
  float: left;
  background-size: auto;
}

.sto-__TAG__-container[data-type="SE"] .sto-design-right {
  width: 288px;
  float: right;
  background-size: auto;
}

.sto-__TAG__-container[data-type="SE"] .sto-design-right .sto-option {
  height: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
}

.sto-__TAG__-container[data-type="SE"] .sto-mini-product {
  width: 96px;
  height: 120px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  position: relative;
}

.sto-__TAG__-container[data-type="SE"][data-count="1"] .sto-mini-product,
.sto-__TAG__-container[data-type="SE"][data-count="2"] .sto-mini-product {
  display: none;
}

.sto-__TAG__-container[data-type="SE"] .sto-mini-product img {
  width: 80%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sto-__TAG__-container[data-type="SE"] .sto-mini-product[data-mini="left"] {
  left: 0;
}

.sto-__TAG__-container[data-type="SE"] .sto-mini-product[data-mini="right"] {
  right: 0;
}

.sto-video-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.65;
  z-index: 999998;
}

.sto-video {
  width: 640px;
  height: 395px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 999999;
}

.sto-close-video {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.sto-close-video:hover {
  opacity: 0.7;
}

.sto-video-wrapper {
  width: 560px;
  height: 315px;
  margin: 40px auto 0;
}

.sto-video-wrapper iframe {
  width: 100%;
  height: 100%;
}
/** HIDDEN **/
.sto-__TAG__-container[data-type="SE"] .sto-carrousel[data-v="hidden"] {
  width: 384px;
  background-color: transparent;
}

.sto-__TAG__-container[data-type="SE"] .sto-design-left[data-v="hidden"] {
  display: none;
}

.sto-__TAG__-container[data-type="SE"] .sto-mini-product[data-v="hidden"] {
  display: none;
}

.sto-__TAG__-container[data-type="SE"] .sto-mini-product[data-v="hidden"] {
  display: none;
}
/** DATA SIEZE 4 **/
.sto-__TAG__-container[data-type="SE"][data-size="4"] .sto-design-right {
  width: 192px;
}

.sto-__TAG__-container[data-type="SE"][data-size="4"][data-count="1"] .sto-design-right,
.sto-__TAG__-container[data-type="SE"][data-size="4"][data-count="2"] .sto-design-right {
  display: inline-block;
}

.sto-__TAG__-container[data-type="SE"][data-size="4"] .sto-design-left {
  display: none;
}
/*.sto-__TAG__-container[data-size="4"][data-count="1"] .sto-design-left,
.sto-__TAG__-container[data-size="4"][data-count="2"] .sto-design-left,
.sto-__TAG__-container[data-size="4"][data-count="3"] .sto-design-left {
  display: inline-block;
}*/
.sto-__TAG__-container[data-type="SE"][data-size="4"][data-count="1"] .sto-design-left {
  display: inline-block;
}
/** DATA SIEZE 3 **/
.sto-__TAG__-container[data-type="SE"][data-size="3"] .sto-design-left {
  display: none;
}

.sto-__TAG__-container[data-type="SE"][data-size="3"] .sto-design-right {
  display: none;
}

.sto-__TAG__-container[data-type="SE"][data-size="3"][data-count="1"] .sto-design-right,
.sto-__TAG__-container[data-type="SE"][data-size="3"][data-count="2"] .sto-design-right,
.sto-__TAG__-container[data-type="SE"][data-size="3"][data-count="3"] .sto-design-right {
  display: inline-block;
}
@media (max-width:1242px) {
  .sto-__TAG__-container[data-type="SE"][data-size="3"] .sto-carrousel .sto-carrousel-rigth-version {
    display: block;
    width: 384px;
  }

  .sto-__TAG__-container[data-type="SE"][data-size="3"] .sto-carrousel .sto-main-product {
    background-image: none !important;
  }

  .sto-__TAG__-container[data-type="SE"][data-size="3"] .sto-buttons {
    width: 220px;
    left: calc(50% - 232px);
  }

  .sto-__TAG__-container[data-type="SE"][data-size="3"][data-count="2"] .sto-buttons,
  .sto-__TAG__-container[data-type="SE"][data-size="3"][data-count="3"] .sto-buttons {
    width: 108px;
    left: calc(50% - 170px);
  }

  .sto-__TAG__-container[data-type="SE"][data-size="3"][data-count="1"] .sto-buttons {
    display: block;
    background-image: inherit;
  }

  .sto-__TAG__-container[data-type="SE"][data-size="3"][data-count="1"] .sto-buttons button {
    display: none;
  }

  .sto-__TAG__-container[data-type="SE"][data-size="3"][data-count="1"] .sto-buttons .sto-buttons-img {
    display: block;
  }

  .sto-__TAG__-container[data-type="SE"][data-size="3"] .sto-carrousel {
    width: 384px;
    float: right;
    position: static !important;
  }
  /*.sto-__TAG__-container[data-size="3"] .sto-carrousel::after {
    content: ' ';
    width: 20px;
    background-color: #fff;
    position: absolute;
    height: 100%;
    right: 0;
  }*/
  .sto-__TAG__-container[data-type="SE"][data-size="3"] .sto-design-right {
    display: none !important;
  }
}
/** DATA SIZE 2 **/
.sto-__TAG__-container[data-type="SE"][data-size="2"] {
  .sto-format {
    display: flex;
    justify-content: space-between;

    .sto-carrousel {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 150px);

      .sto-main-product {
        background-image: none !important;
      }

      .sto-buttons-container {
        position: relative;
        width: calc(100% - 384px);
        display: flex;
        align-items: center;

        .sto-buttons {
          width: 230px;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          margin: auto;
          flex-direction: column;
          padding: 6px 0;

          .sto-button,
          .sto-option {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            margin: 3px;
          }
        }
      }
    }
  }

  &[data-count="1"] {
    .sto-format {
      .sto-design-left {
        display: block;
        width: calc(100% - 150px - 384px);
      }

      .sto-carrousel {
        width: 384px;

        .sto-buttons-container {
          display: none;
        }
      }
    }
  }

  &[data-count="2"],
  &[data-count="3"] {
    .sto-format {
      .sto-buttons {
        flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
    }
  }

  .sto-design-left,
  .sto-design-right,
  .sto-mini-product {
    display: none;
  }
}

/** DATA SIZE 1 **/
.sto-__TAG__-container[data-type="SE"][data-size="1"] {
  .sto-design-left,
  .sto-design-right,
  .sto-mini-product {
    display: none;
  }

  .sto-carrousel {
    width: 384px;
    background-image: none !important;

    .sto-buttons-container {
      display: none;
    }

    .sto-arrows, .sto-arrows-hover {
      display: block;
    }

    .sto-main-product {
      .sto-product-container {
        background-image: none !important;
      }
    }
  }
}

/** DATA SIZE 1 - MOBILE **/
.sto-__TAG__-container[data-type="SE"][data-viewport="mobile"] {
  border-width: 2px !important;
  height: auto;

  .sto-format {
    height: auto;
    background-image: none;

    .sto-arrows,
    .sto-arrows-hover,
    .sto-buttons,
    .sto-logo,
    .sto-mini-product {
      display: none;
    }

    .sto-carrousel,
    .sto-main-product,
    .sto-product-container {
      width: 100%;
      background-image: none !important;
      background-color: #fff;
      height: auto;
    }

    .sto-mobile-box {
      width: 100%;
      background-size: cover;
      background-position: left top;

      .sto-logo-mobile {
        height: 100%;
        width: 37.03703703703704%;
        position: absolute;
        left: 0;
        top: 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      /** BUTTONS **/
      .sto-buttons-wrapper {
        height: 100%;
        width: 62.96296296296296%;
        display: inline-block;
        float: right;
        position: absolute;
        right: 0;
        top: 0;

        button.sto-button {
          height: 30px;
          display: none;
          margin: 0;
          border: 0;
          width: calc(50% - 15px) !important;
          height: calc(50% - 15px) !important;
          position: absolute;
          font-size: 14px;
          font-size: 2.8vw;
          line-height: 0.9;
          background-image: none !important;
          &:nth-child(-n+4) {
            display: block;
          }
          &:nth-child(1) {
            top: calc(50% - 5px);
            left: calc(50% - 5px);
            transform: translate(-100%, -100%);
          }
          &:nth-child(2) {
            top: calc(50% - 5px);
            left: calc(50% + 5px);
            transform: translate(0%, -100%);
          }
          &:nth-child(3) {
            top: calc(50% + 5px);
            left: calc(50% - 5px);
            transform: translate(-100%, 0%);
          }
          &:nth-child(4) {
            top: calc(50% + 5px);
            left: calc(50% + 5px);
            /*transform: translate(0%, 0%);*/
          }
          &:focus {
            outline: 0;
            box-shadow: none;
          }
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
    .sto-carrousel {

      .sto-product-container {
        & > * {
          padding: 20px;
          height: auto !important;
        }
      }
    }
  }
  &[data-prod="1"] {
    .sto-logo-mobile {
      height: 100%;
      position: absolute;
      left: 50% !important;
      top: 0;
      transform: translateX(-50%);
    }
    .sto-buttons-wrapper {
      display: none !important;
    }
  }
  &[data-prod="2"] {
    .sto-format {
      .sto-mobile-box {
        .sto-buttons-wrapper {
          button.sto-button:nth-child(1) {
            top: calc(50%);
            left: calc(50% - 5px);
            transform: translate(-100%, -50%);
          }
          button.sto-button:nth-child(2) {
            top: calc(50%);
            left: calc(50% + 5px);
            transform: translate(0%, -50%);
          }
        }
      }
    }
  }
}




// video
.sto-video-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.65;
  z-index: 999998;
}

.sto-video {
  width: 640px;
  height: 395px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 999999;
  @media screen and (max-width:640px) {
      width: 100%;
      padding: 40px 10px;
  }
}

.sto-close-video {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.sto-picto-close {
  position: absolute;
  display: block;
  width: 33px;
  height: 33px;
  border: 2px solid black;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: black;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.sto-close-video:hover {
  opacity: 0.7;
}

.sto-video-wrapper {
  width: 560px;
  height: 315px;
  margin: 40px auto 0;
  @media screen and (max-width:640px) {
      width: 100%;
      height: 100%;
      margin: 0;
  }
}

.sto-video-wrapper iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width:590px) {
    .sto-video {
        max-width: 100%;
        margin-left: 0;
        left: 0 !important;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }

    .sto-video iframe {
        max-width: 100%;
    }
}
