.sto-__TAG__-container[data-type="SC"] {
    .sto-format {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        background-position: top center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .sto-option2 {
        display: none;
    }

    .sto-option[double-cta] {
        bottom: 42px !important;
    }

    .sto-option-wrapper {
        display: inline-table;
        height: 100%;
    }

    .sto-option-wrapper2 {
        display: inline-table;
        height: 100%;
    }

    .sto-image-container {
        overflow: hidden;
        background-image: __IMG-CONTAINER__;

        .sto-option {
            width: calc(100% - 20px);
            height: 30px;
            position: absolute;
            left: 10px;
            bottom: 7px;
            cursor: pointer;
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
            display: none;
        }

        .sto-option2 {
            width: calc(100% - 20px);
            height: 30px;
            position: absolute;
            left: 10px;
            bottom: 7px;
            cursor: pointer;
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
            display: none;
        }

        .sto-option-text,
        .sto-option-text2 {
            display: table-cell;
            vertical-align: middle;
            line-height: 1;
            font-size: 12px;
            background-image: none !important;
        }

        .sto-option[data-type="redirection"] {
            pointer-events: all !important;
        }

        .sto-option2[data-type="redirection"] {
            pointer-events: all !important;
        }

        .sto-option[data-type="file"] {
            pointer-events: all !important;
        }

        .sto-option2[data-type="file"] {
            pointer-events: all !important;
        }

        .sto-option[data-type="video"] {
            pointer-events: all !important;
        }

        .sto-option2[data-type="video"] {
            pointer-events: all !important;
        }

        .sto-option[data-type="legal"] {
            pointer-events: none !important;
        }

        .sto-option2[data-type="legal"] {
            pointer-events: none !important;
        }

        .sto-option[data-type="redirection"] .sto-option-text,
        .sto-option[data-type="file"] .sto-option-text,
        .sto-option[data-type="video"] .sto-option-text,
        .sto-option2[data-type="redirection"] .sto-option-text2,
        .sto-option2[data-type="file"] .sto-option-text2,
        .sto-option2[data-type="video"] .sto-option-text2 {
            text-decoration: underline;
        }

        .sto-option[data-type="legal"],
        .sto-option2[data-type="legal"] {
            background-color: transparent !important;
            background-image: none !important;
            cursor: default !important;
        }

        .sto-option[data-type="legal"] .sto-option-text,
        .sto-option2[data-type="legal"] .sto-option-text2 {
            font-size: 9px !important;
        }

        .sto-video-background {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #000;
            opacity: 0.65;
            z-index: 999998;
        }

        .sto-video {
            width: 640px;
            height: 395px;
            position: fixed;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background-color: #fff;
            z-index: 999999;
        }

        .sto-close-video {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            background-position: center;
            background-repeat: no-repeat;
        }

        .sto-close-video:hover {
            opacity: 0.7;
        }

        .sto-video-wrapper {
            width: 560px;
            height: 315px;
            margin: 40px auto 0;
        }

        .sto-video-wrapper iframe {
            width: 100%;
            height: 100%;
        }

        .sto-image-mobile {
            display: none;
        }

        .sto-option[data-option] {
            display: block !important;
        }

        .sto-option2[data-option] {
            display: block !important;
        }
    }
}

.sto-__TAG__-container[data-type="SC"][data-viewport="mobile"] {
    height: auto;

    .sto-format {
        height: auto;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .sto-image-container {
        background-image: none !important;
    }

    .sto-image-container .sto-image-mobile {
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .sto-product-container {
        height: auto;
        width: 100%;
        margin-bottom: -1px;
        border-bottom: 1px solid #ccc;
    }

    .sto-product-container > * {
        height: auto;
        width: 100%;
        max-width: 100%;
        border-bottom: 1px solid lightgray;
        margin: 0;
        display: none !important;
    }

    .sto-image-container {
        width: 100%;

        .sto-option,
        .sto-option2 {
            display: none !important;
        }
    }

    .sto-wording {
        top: -34px;
    }

    .sto-sc-ctas {
        display: flex;
        flex-direction: row;
    }

    .sto-sc-ctas .sto-option,
    .sto-sc-ctas .sto-option2 {
        position: static;
        margin: 10px auto;
        width: 50%;
        text-align: center;
    }

    .sto-option {
        width: calc(100% - 20px);
        height: 30px;
        position: absolute;
        left: 10px;
        bottom: 10px;
        cursor: pointer;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        display: none;
    }

    .sto-option2 {
        width: calc(100% - 20px);
        height: 30px;
        position: absolute;
        left: 10px;
        bottom: 10px;
        cursor: pointer;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        display: none;
    }

    .sto-option-text,
    .sto-option-text2 {
        display: table-cell;
        vertical-align: middle;
        line-height: 1;
        font-size: 12px;
        background-image: none !important;
    }

    .sto-image-container .sto-option,
    .sto-image-container .sto-option2 {
        display: none !important;
    }

    .sto-option[data-option] {
        display: block !important;
    }

    .sto-option2[data-option] {
        display: block !important;
    }

    .sto-product-container > *:last-child {
        border-bottom: 0;
    }

    .sto-product-container > *:nth-child(1),
    .sto-product-container > *:nth-child(2),
    .sto-product-container > *:nth-child(3) {
        display: block !important;
    }

    .sto-product-container > * > * {
        width: 100%;
        max-width: 100%;
        padding-bottom: 0;
    }
}


// video
.sto-video-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.65;
  z-index: 999998;
}

.sto-video {
  width: 640px;
  height: 395px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 999999;
  @media screen and (max-width:640px) {
      width: 100%;
      padding: 40px 10px;
  }
}

.sto-close-video {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.sto-picto-close {
  position: absolute;
  display: block;
  width: 33px;
  height: 33px;
  border: 2px solid black;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: black;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.sto-close-video:hover {
  opacity: 0.7;
}

.sto-video-wrapper {
  width: 560px;
  height: 315px;
  margin: 40px auto 0;
  @media screen and (max-width:640px) {
      width: 100%;
      height: 100%;
      margin: 0;
  }
}

.sto-video-wrapper iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width:590px) {
    .sto-video {
        max-width: 100%;
        margin-left: 0;
        left: 0 !important;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }

    .sto-video iframe {
        max-width: 100%;
    }
}
