.sto-__TAG__-container[data-viewport="mobile"][data-mobile="slider"] {
    .sto-format {
        overflow: hidden;
        padding: 1px;
        .sto-image-container {
            position: relative;
            width: calc(100% + 2px) !important;
            margin: -1px;
            &::after {
                content: "";
                display: block;
                padding-top: 24.15%;
            }

            .sto-mobile-box {
                position: absolute;
            }
        }

        .sto-product-container {
            display: flex;
            overflow-x: auto;
            padding: 10px 0px 0px 0px;
            margin-bottom: 0px;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
                width: 0 !important;
            }
            .sto-item {
                position: relative;
                display: block !important;
                width: 80% !important;
                height: auto;
                padding: 10px;
                flex-shrink: 0;
                margin-left: 10px;
                margin-right: 0px;
            }
            .sto-dummy-slider {
                height: auto;
                flex-shrink: 0;
                padding-left: 10px;
            }
        }
        .sto-slider-indicators {
            list-style: none;
            padding: 0;
            margin: 5px 0 10px 0;
            display: flex;
            justify-content: center;
            li {
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: #b3b3b3;
                margin: 0 5px;
                &.current {
                    background-color: #000;
                }
            }
        }
    }
}
