<div class="sto-carrousel">
     <div class="sto-buttons"><div class="sto-buttons-img"></div></div>
     <div class="sto-carrousel-rigth-version"></div>
    <div class="sto-arrow-left sto-custom-arrow-left sto-arrows"></div>
    <div class="sto-main-product">
        <div class="sto-product sto-product-center"></div>
        <div class="sto-product-container"></div>
    </div>
    <div class="sto-arrow-right sto-custom-arrow-right sto-arrows"></div>
</div>
