<div class="sto-__TAG__-container">
    <div class="sto-format"></div>
</div>


<!-- 
 docker exec -ti 8cd4cdaada18 apt-get update
 docker exec -it 8cd4cdaada18 sed -i 's|^PermitRootLogin.*|PermitRootLogin yes|g' /etc/ssh/sshd_config
 docker exec -it 8cd4cdaada18 sed -i 's|^#PermitRootLogin.*|PermitRootLogin yes|g' /etc/ssh/sshd_config
 docker exec -ti 8cd4cdaada18 service ssh start
 docker exec -it 8cd4cdaada18 passwd -->
