.products-listing>.three-tiles-only {
    display: none !important;
}

.sto-container[data-type="TG"], .sto-format {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
    background-position: top center;
    background-repeat: no-repeat;
}

.sto-container[data-type="TG"] {
    border: 1px solid #ddd;
}



.sto-container[data-type="TG"] .sto-product-container {
    background-color: #fff;
}


.sto-container[data-type="TG"] .sto-mobile-box {
    display: none;
}

.sto-container[data-type="TG"][data-viewport="mobile"] {
    width: 100%;
    height: auto;
    border-width: 2px;
}

.sto-container[data-type="TG"][data-viewport="mobile"] .sto-image-container {
    float: none;
    width: 100%;
    height: 115px;
    background-size: cover;
    position: relative;
    display: block;
}

.sto-container[data-type="TG"][data-viewport="mobile"] .sto-image-container {
    background-image: none !important;
}

.sto-container[data-type="TG"][data-viewport="mobile"] .sto-image-container .sto-mobile-box {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}


.sto-container[data-type="TG"][data-viewport="mobile"] .sto-product-container {
    float: none;
    width: 101% !important;
    height: auto !important;
    display: block;
    margin-bottom: -2px;
    margin-left: -2px;
}

.sto-container[data-type="TG"][data-viewport="mobile"] .sto-product-container>* {
    padding: 10px !important;
    height: auto !important;
}

.sto-container[data-type="TG"][data-viewport="mobile"] .sto-product-container>*::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.sto-container[data-type="TG"][data-viewport="mobile"] .sto-product-container>* .container-product {
    height: auto;
    min-height: 0 !important;
}

.sto-container[data-type="TG"][data-viewport="mobile"] .sto-product-container>* .container-product::before {
    display: none !important;
}
