.sto-__TAG__-container[data-type="PS"]{
  list-style: none;
  position: relative;
  border: none;

}

.sto-__TAG__-container[data-type="PS"] .Article-mosaicItem .thumbnail {
  border: 3px solid;
  z-index: 10;
}

.Article-list .sto-__TAG__-container .sto-product-container {
  border: 3px solid;
  z-index: 1000;
}


// .sto-__TAG__-container:after{
//   content:"";
//   position:absolute;
//   left:0px;
//   top: 0px;
//   height:100%;
//   width:100%;
//   border-color: pink;
//   border: 3px solid;
//   z-index: 1000;
//   background: none;
// }

// .sto-__TAG__-container[data-type="PS"] .sto-format:before {
//   border: 5px solid purple;
//   content: "";
//   position: absolute;
//   top: -10px;
//   bottom: -10px;
//   left: -10px;
//   right: -10px;
// }


.sto-__TAG__-container[data-type="PS"] .text-sponsor {
  position: absolute;
  bottom: 0;
  left: 0;
  background: lightgrey;
  color: grey;
  padding: 6px 10px 0 10px;
  font-size: 14px;
  line-height: 14px;
  z-index: 1010;
}

.sto-__TAG__-container[data-type="PS"] .sto-format {
  width: 100%;
}

.sto-__TAG__-container[data-type="PS"].f-searchResult {
  background: white;
  padding: 28px 8px 8px;
  display: flex;
}


.sto-__TAG__-container[data-type="PS"] .sto-item-product article {
  width: 100% !important;
}



// .sto-__TAG__-container[data-type="PS"] .stimuliOPC {
//   top: -28px;
// }