.sto-api-container[data-type="PMP"] {
    background-color: __BG-CONTAINER__;

    .sto-image-container {
        background-image: __IMG-CONTAINER__;

        .sto-mobile-box {
            background-image: __IMG-MOBILE__;
        }

        .sto-logo-mobile {
            background-image: __IMG-LOGO-MOBILE__;
        }

        .sto-button-normal {
            background-image: __IMG-BUTTON__;
            background-color: __BG-BUTTON__;
            color: __TXT-BUTTON__;
            border-radius: 5px;
        }

        .sto-button-selected {
            background-image: __IMG-BUTTON-SELECTED__;
            background-color: __BG-BUTTON-SELECTED__;
            color: __TXT-BUTTON-SELECTED__;
            border-radius: 5px;
        }

        .sto-option-text {
            color: __TXT-OPTION__;
        }

        .sto-option {
            background-image: __IMG-OPTION__;
        }
    }
}

.sto-__TAG__-container[data-type="PMP"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
    background-position: top center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;

    .sto-format {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        overflow: hidden;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .sto-logo,
    .sto-logo-mobile {
        display: none;
    }
    /** BUTTONS **/
    .sto-buttons-wrapper {
        position: absolute;
        width: 100%;
        left: 0;
        top: -webkit-calc(50% + 67px);
        top: -moz-calc(50% + 67px);
        top: -ms-calc(50% + 67px);
        top: -o-calc(50% + 67px);
        top: calc(50% + 67px);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .sto-bg-right {
        display: none !important;
    }

    .sto-product-container {
        background-color: #fff;
    }

    div.sto-button {
        height: 30px;
        display: block;
        margin: 5px auto 0;
        border: 0;
        line-height: 12px;
        padding: 0 1px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        cursor: pointer;
    }

    div.sto-button span {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    div.sto-button:focus {
        outline: 0;
        box-shadow: none;
    }

    div.sto-button:first-child {
        margin-top: 0;
    }
    /** OPTIONS **/
    .sto-option {
        width: calc(100% - 20px);
        height: 30px;
        position: absolute;
        left: 0;
        bottom: 5px;
        cursor: pointer;
        text-align: center;
        padding: 0 10px;
        background-position: center;
        background-repeat: no-repeat;
        display: none;
    }

    .sto-option[data-option] {
        display: inline-block;
    }

    .sto-option-wrapper {
        display: inline-table;
        height: 100%;
    }

    .sto-option-text {
        display: table-cell;
        vertical-align: middle;
        line-height: 1;
        font-size: 14px;
    }

    .sto-option[data-option="redirection"] .sto-option-text,
    .sto-option[data-option="file"] .sto-option-text,
    .sto-option[data-option="video"] .sto-option-text {
        text-decoration: underline;
    }

    .sto-option[data-option="legal"] {
        background-image: none !important;
        cursor: default;
    }

    .sto-option[data-option="legal"] .sto-option-text {
        font-size: 9px;
    }

    .sto-video-background {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0.65;
        z-index: 999998;
    }

    .sto-video {
        width: 640px;
        height: 395px;
        position: fixed;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 999999;
    }

    .sto-close-video {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sto-close-video:hover {
        opacity: 0.7;
    }

    .sto-video-wrapper {
        width: 560px;
        height: 315px;
        margin: 40px auto 0;
    }

    .sto-video-wrapper iframe {
        width: 100%;
        height: 100%;
    }

    .sto-mobile-box {
        display: none;
    }
    @media screen and (max-width:590px) {
        .sto-video {
            max-width: 100%;
            margin-left: 0;
            left: 0 !important;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
        }

        .sto-video iframe {
            max-width: 100%;
        }
    }
}

.sto-__TAG__-container[data-type="PMP"][data-viewport="desktop"],
.sto-__TAG__-container[data-type="PMP"][data-website="desktop"] {
    .sto-buttons-wrapper[button-normal="img"] div.sto-button-normal,
    .sto-buttons-wrapper[button-selected="img"] div.sto-button-selected {
        background-color: transparent !important;
    }
}

.sto-__TAG__-container[data-type="PMP"][data-option="redirection"] .sto-buttons-wrapper,
.sto-__TAG__-container[data-type="PMP"][data-option="video"] .sto-buttons-wrapper,
.sto-__TAG__-container[data-type="PMP"][data-option="legal"] .sto-buttons-wrapper {
    top: calc(50% + 53px);
}

.sto-__TAG__-container[data-type="PMP"][data-viewport="mobile"] {
    width: 100%;
    height: auto;
    border-width: 2px;

    .sto-image-container {
        float: none;
        width: 100%;
        height: 115px;
        background-size: cover;
        position: relative;
        display: block;
    }

    .sto-image-container {
        background-image: none !important;
    }

    .sto-image-container .sto-mobile-box {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .sto-logo-mobile {
        display: block;
        height: 100%;
        width: 37%;
        position: absolute;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        visibility: visible;
        background-size: contain;
    }

    .sto-buttons-wrapper {
        position: absolute;
        padding: 0;
        right: 0;
        top: 0;
        left: auto;
        width: 63%;
        height: 100%;
        margin: 0;
        transform: none;
    }

    .sto-buttons-wrapper div {
        width: calc(50% - 15px) !important;
        height: calc(50% - 15px);
        position: absolute;
        margin: 0;
        background-size: cover;
        background-image: none !important;
        font-size: 1.5em !important;
        font-size: 2.3vw !important;
    }

    .sto-buttons-wrapper div:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(calc(-100% - 5px), calc(-100% - 5px));
    }

    .sto-buttons-wrapper div:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(calc(-100% - 5px), calc(0% + 5px));
    }

    .sto-buttons-wrapper div:nth-child(3) {
        top: 50%;
        left: 50%;
        transform: translate(calc(0% + 5px), calc(-100% - 5px));
    }

    .sto-buttons-wrapper div:nth-child(4) {
        top: 50%;
        left: 50%;
        transform: translate(calc(0% + 5px), calc(0% + 5px));
    }

    .sto-buttons-wrapper div.sto-disable-bgcol,
    .sto-buttons-wrapper div.sto-disable-bgimg {
        background-image: none !important;
        background-color: __BUTTONCOULEUR__ !important;
    }

    .sto-buttons-wrapper div.sto-__PLACEHOLDER__-selButton.sto-disable-bgcol,
    .sto-buttons-wrapper div.sto-__PLACEHOLDER__-selButton.sto-disable-bgcol:hover,
    .sto-buttons-wrapper div.sto-__PLACEHOLDER__-selButton.sto-disable-bgimg,
    .sto-buttons-wrapper div.sto-__PLACEHOLDER__-selButton.sto-disable-bgimg:hover,
    .sto-buttons-wrapper div.sto-disable-bgcol:hover,
    .sto-buttons-wrapper div.sto-disable-bgimg:hover {
        background-image: none !important;
        background-color: __BUTTONCOULEURSELECT__ !important;
    }

    .sto-__PLACEHOLDER__-recette {
        display: none !important;
    }

    .sto-product-container {
        float: none;
        width: 101% !important;
        height: auto !important;
        display: block;
        margin-bottom: -2px;
        margin-left: -2px;
    }

    .sto-product-container > * {
        padding: 10px !important;
        height: auto !important;
    }

    .sto-product-container > *::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .sto-option {
        display: none !important;
    }

    .sto-product-container > * .container-product {
        height: auto;
        min-height: 0 !important;
    }

    .sto-product-container > * .container-product::before {
        display: none !important;
    }

    .sto-product-container > * .prd-visuel {
        width: 36%;
        float: left;
    }

    .sto-product-container > * .prd-price.price-container {
        width: 50%;
        float: left;
    }

    .sto-product-container > * .picto-marque {
        position: absolute;
        width: 36%;
        bottom: 12px;
    }
    @media screen and (max-width:350px) {
        .sto-buttons-wrapper div:nth-child(1) {
            top: 50%;
            left: 50%;
            transform: translate(calc(-100% - 2px), calc(-100% - 2px));
        }

        .sto-buttons-wrapper div:nth-child(2) {
            top: 50%;
            left: 50%;
            transform: translate(calc(-100% - 2px), calc(0% + 2px));
        }

        .sto-buttons-wrapper div:nth-child(3) {
            top: 50%;
            left: 50%;
            transform: translate(calc(0% + 2px), calc(-100% - 2px));
        }

        .sto-buttons-wrapper div:nth-child(4) {
            top: 50%;
            left: 50%;
            transform: translate(calc(0% + 2px), calc(0% + 2px));
        }
    }
}

.sto-__TAG__-container[data-type="PMP"][data-viewport="mobile"][data-type="redirect"] .sto-logo-mobile,
.sto-__TAG__-container[data-type="PMP"][data-viewport="mobile"][data-type="video"] .sto-logo-mobile,
.sto-__TAG__-container[data-type="PMP"][data-viewport="mobile"][data-type="pdf"] .sto-logo-mobile {
    cursor: pointer;
}

.sto-__TAG__-container[data-type="PMP"][data-viewport="mobile"][data-count="1"] {
    .sto-logo-mobile {
        left: 50%;
        transform: translateX(-50%);
    }

    .sto-buttons-wrapper {
        display: none !important;
    }
}

.sto-__TAG__-container[data-type="PMP"][data-viewport="mobile"][data-count="2"] {
    .sto-buttons-wrapper div:nth-child(1) {
        transform: translate(calc(-100% - 5px), -50%);
        /*width: 55% !important;*/
    }

    .sto-buttons-wrapper div:nth-child(2) {
        transform: translate(calc(0% + 5px), -50%);
        /*width: 55% !important;*/
    }
    @media screen and (max-width:350px) {
        .sto-buttons-wrapper div:nth-child(1) {
            transform: translate(calc(-50% - 2px), calc(-100% - 2px));
            /*width: 55% !important;*/
        }

        .sto-buttons-wrapper div:nth-child(2) {
            transform: translate(calc(-50% - 2px), calc(0% + 2px));
            /*width: 55% !important;*/
        }
    }
}

.sto-__TAG__-container[data-type="PMP"][data-viewport="mobile"][data-count="5"] {
    .sto-buttons-wrapper div:nth-child(5) {
        top: 10%;
        right: 20px;
        display: none;
    }
    @media screen and (max-width:350px) {
        .sto-buttons-wrapper div:nth-child(5) {
            top: 10%;
            right: 20px;
            display: none;
        }
    }
}
