<div class="sto-image-container">
    <div class="sto-mobile-box"></div>
    <div class="sto-logo-mobile"></div>
    <div class="sto-option"></div>
    <div class="sto-buttons-wrapper"></div>
</div>
<div class="sto-product-container"></div>
