<div class="sto-format">
    <div class="sto-pretext"></div>
    <div class="sto-headline"></div>    
    <div class="sto-image-container">
        <div class="sto-mobile-box"></div>
        <div class="sto-cta"></div>
        <div class="sto-logo"></div>
    </div>
</div>
