/** GENERAL **/
/* * {
  margin: 0;
  padding: 0;
}*/
.sto-container[data-type="IM"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
    height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid lightgray;
}

.sto-container[data-type="IM"] .sto-bg-right {
    width: 0;
    display: none !important;
}

.sto-container[data-type="IM"] .sto-format {
    font-size: 0;
    position: relative;
    text-align: center;
    height: 120px;
    max-width: 1152px;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.sto-container[data-type="IM"] .sto-format>div, .sto-container[data-type="IM"] .sto-main-product, .sto-container[data-type="IM"] .sto-mini_product {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 120px;
    position: relative;
    vertical-align: middle;
}

.sto-container[data-type="IM"] .sto-main-product .sto-product-center {
    cursor: pointer;
    width: 120px;
    height: 120px;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    left: 25px;
}

.sto-container[data-type="IM"] .sto-arrows {
    position: absolute;
    top: 44px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: none;
}

.sto-container[data-type="IM"] .sto-arrow-left.sto-arrows {
    left: 50%;
    -webkit-transform: translateX(-205px);
    -moz-transform: translateX(-205px);
    -ms-transform: translateX(-205px);
    -o-transform: translateX(-205px);
    transform: translateX(-205px);
}

.sto-container[data-type="IM"] .sto-arrow-right.sto-arrows {
    right: 50%;
    -webkit-transform: translateX(205px) rotate(180deg);
    -moz-transform: translateX(205px) rotate(180deg);
    -ms-transform: translateX(205px) rotate(180deg);
    -o-transform: translateX(205px) rotate(180deg);
    transform: translateX(205px) rotate(180deg);
}

.sto-container[data-type="IM"] .sto-carrousel {
    width: 608px;
    background-image: none !important;
}

.sto-container[data-type="IM"] .sto-container[data-count="1"] .sto-carrousel {
    width: 384px;
}

.sto-container[data-type="IM"] .sto-carrousel .sto-carrousel-rigth-version {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: none;
}

.sto-container[data-type="IM"][data-count="2"] .sto-carrousel,
.sto-container[data-type="IM"][data-count="3"] .sto-carrousel {
    width: 496px;
    text-align: right;
}

.sto-container[data-type="IM"] .sto-main-product {
    width: 384px;
    position: relative;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
}

.sto-container[data-type="IM"] .sto-mobile-box {
    display: none;
}

.sto-container[data-type="IM"] .sto-buttons-wrapper {
    height: 120px;
    display: none;
}

.sto-container[data-type="IM"][data-count="1"] .sto-buttons {
    display: none;
}

.sto-container[data-type="IM"] .sto-buttons {
    height: 120px;
    width: 100%;
    position: absolute;
}

.sto-container[data-type="IM"] .sto-buttons .sto-button,
.sto-container[data-type="IM"] div.sto-option {
    font-family: 'Roboto', sans-serif;
    max-width: 108px;
    width: 108px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 11.5px;
    text-align: center;
    position: absolute;
    z-index: 1;
    outline: none;
    border: 0;
}

.sto-container[data-type="IM"] .sto-buttons button:nth-of-type(1) {
    top: 10px;
    left: 0;
}

.sto-container[data-type="IM"] .sto-buttons button:nth-of-type(2) {
    top: 45px;
    left: 0;
}

.sto-container[data-type="IM"] .sto-buttons button:nth-of-type(3) {
    bottom: 5px;
    left: 0;
}

.sto-container[data-type="IM"] .sto-buttons button:nth-of-type(4) {
    top: 10px;
    right: 0;
}

.sto-container[data-type="IM"] .sto-buttons button:nth-of-type(5) {
    top: 45px;
    right: 0;
}

.sto-container[data-type="IM"] .sto-buttons button:nth-of-type(6),
.sto-container[data-type="IM"] .sto-buttons div.sto-option {
    bottom: 5px;
    right: 0;
}

.sto-container[data-type="IM"][data-count="2"] .sto-buttons div.sto-option,
.sto-container[data-type="IM"][data-count="3"] .sto-buttons div.sto-option {
    bottom: 5px;
    right: auto;
    left: 0;
}

.sto-container[data-type="IM"] div.sto-option {
    padding: 0;
}

.sto-container[data-type="IM"] div.sto-option .sto-option-text {
    position: absolute;
    width: 100%;
    top: 50%;
    text-decoration: underline;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sto-container[data-type="IM"] .sto-buttons .sto-buttons-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.sto-container[data-type="IM"] .sto-logo {
    float: left;
    height: 120px;
    width: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sto-container[data-type="IM"] .sto-logo2 {
    display: none !important;
    width: 150px;
}

.sto-container[data-type="IM"] .sto-design-left {
    width: 138px;
    float: left;
    background-size: auto;
}

.sto-container[data-type="IM"] .sto-design-right {
    width: 288px;
    float: right;
    background-size: auto;
}

.sto-container[data-type="IM"] .sto-design-right .sto-option {
    height: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}

.sto-container[data-type="IM"] .sto-mini-product {
    width: 96px;
    height: 120px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    position: relative;
}

.sto-container[data-type="IM"][data-count="1"] .sto-mini-product,
.sto-container[data-type="IM"][data-count="2"] .sto-mini-product {
    display: none;
}

.sto-container[data-type="IM"] .sto-mini-product img {
    width: 80%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sto-container[data-type="IM"] .sto-mini-product[data-mini="left"] {
    left: 0;
}

.sto-container[data-type="IM"] .sto-mini-product[data-mini="right"] {
    right: 0;
}

.sto-video-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.65;
    z-index: 999998;
}

.sto-video {
    width: 640px;
    height: 395px;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 999999;
}

.sto-close-video {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.sto-close-video:hover {
    opacity: 0.7;
}

.sto-video-wrapper {
    width: 560px;
    height: 315px;
    margin: 0 auto;
    margin-top: 40px;
}

.sto-video-wrapper iframe {
    width: 100%;
    height: 100%;
}

/** HIDDEN **/
.sto-container[data-type="IM"] .sto-carrousel[data-v="hidden"] {
    width: 384px;
    background-color: transparent;
}

.sto-container[data-type="IM"] .sto-design-left[data-v="hidden"] {
    display: none;
}

.sto-container[data-type="IM"] .sto-mini-product[data-v="hidden"] {
    display: none;
}

.sto-container[data-type="IM"] .sto-mini-product[data-v="hidden"] {
    display: none;
}

/** DATA SIEZE 4 **/
.sto-container[data-type="IM"][data-size="4"] .sto-design-right {
    width: 192px;
}

.sto-container[data-type="IM"][data-size="4"][data-count="1"] .sto-design-right,
.sto-container[data-type="IM"][data-size="4"][data-count="2"] .sto-design-right {
    display: inline-block;
}

.sto-container[data-type="IM"][data-size="4"] .sto-design-left {
    display: none;
}

/*.sto-container[data-size="4"][data-count="1"] .sto-design-left,
.sto-container[data-size="4"][data-count="2"] .sto-design-left,
.sto-container[data-size="4"][data-count="3"] .sto-design-left {
  display: inline-block;
}*/
.sto-container[data-type="IM"][data-size="4"][data-frame="buttons"][data-count="1"] .sto-design-left {
    display: inline-block;
}

/** DATA SIEZE 3 **/
.sto-container[data-type="IM"][data-size="3"] .sto-design-left {
    display: none;
}

.sto-container[data-type="IM"][data-size="3"] .sto-design-right {
    display: none;
}

.sto-container[data-type="IM"][data-size="3"][data-count="1"] .sto-design-right,
.sto-container[data-type="IM"][data-size="3"][data-count="2"] .sto-design-right,
.sto-container[data-type="IM"][data-size="3"][data-count="3"] .sto-design-right {
    display: inline-block;
}

@media (max-width:1242px) {
    .sto-container[data-type="IM"][data-size="3"] .sto-carrousel .sto-carrousel-rigth-version {
        display: block;
        width: 384px;
    }

    .sto-container[data-type="IM"][data-size="3"] .sto-carrousel .sto-main-product {
        background-image: none !important;
    }

    .sto-container[data-type="IM"][data-size="3"] .sto-buttons {
        width: 220px;
        left: calc(50% - 232px);
    }

    .sto-container[data-type="IM"][data-size="3"][data-count="2"] .sto-buttons,
    .sto-container[data-type="IM"][data-size="3"][data-count="3"] .sto-buttons {
        width: 108px;
        left: calc(50% - 170px);
    }

    .sto-container[data-type="IM"][data-size="3"][data-count="1"] .sto-buttons {
        display: block;
        background-image: inherit;
    }

    .sto-container[data-type="IM"][data-size="3"][data-count="1"] .sto-buttons button {
        display: none;
    }

    .sto-container[data-type="IM"][data-size="3"][data-count="1"] .sto-buttons .sto-buttons-img {
        display: block;
    }

    .sto-container[data-type="IM"][data-size="3"] .sto-carrousel {
        width: 384px;
        float: right;
        position: static !important;
    }

    /*.sto-container[data-size="3"] .sto-carrousel::after {
    content: ' ';
    width: 20px;
    background-color: #fff;
    position: absolute;
    height: 100%;
    right: 0;
  }*/
    .sto-container[data-type="IM"][data-size="3"] .sto-design-right {
        display: none !important;
    }
}

/** DATA SIEZE 2 **/
.sto-container[data-type="IM"][data-size="2"] .sto-design-right,
.sto-container[data-type="IM"][data-size="2"] .sto-design-left,
.sto-container[data-type="IM"][data-size="2"] .sto-mini-product {
    display: none;
}

.sto-container[data-type="IM"][data-size="2"] .sto-carrousel {
    width: 384px;
    background-image: none !important;
}

.sto-container[data-type="IM"][data-size="2"] .sto-buttons {
    display: none;
}

.sto-container[data-type="IM"][data-size="2"] .sto-arrows {
    display: block;
}


/** DATA SIEZE 1 - MOBILE **/

.sto-container[data-type="IM"][data-viewport="mobile"] {
    border-width: 2px !important;
}

.sto-container[data-type="IM"][data-viewport="mobile"] .sto-logo,
.sto-container[data-type="IM"][data-viewport="mobile"] .sto-design-right,
.sto-container[data-type="IM"][data-viewport="mobile"] .sto-design-left,
.sto-container[data-type="IM"][data-viewport="mobile"] .sto-mini-product,
.sto-container[data-type="IM"][data-viewport="mobile"] .sto-arrows,
.sto-container[data-type="IM"][data-viewport="mobile"] .sto-buttons {
    display: none;
}

.sto-container[data-type="IM"][data-viewport="mobile"], .sto-container[data-viewport="mobile"] .sto-format {
    height: auto;
    background-image: none;
}

.sto-container[data-type="IM"][data-viewport="mobile"] .sto-carrousel,
.sto-container[data-type="IM"][data-viewport="mobile"] .sto-main-product,
.sto-container[data-type="IM"][data-viewport="mobile"] .sto-product-container {
    width: 100%;
    background-image: none !important;
    background-color: #fff;
    height: auto;
}

.sto-container[data-type="IM"][data-viewport="mobile"] .sto-mobile-box {
    width: 100%;
    background-size: cover;
    background-position: left top;
}

.sto-container[data-type="IM"][data-viewport="mobile"] .sto-logo-mobile {
    height: 100%;
    width: 37.03703703703704%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sto-container[data-type="IM"][data-viewport="mobile"][data-count="1"] .sto-logo-mobile {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.sto-container[data-type="IM"][data-viewport="mobile"] .sto-product-container>* {
    padding: 20px;
    height: auto !important;
}

/** BUTTONS **/
.sto-container[data-type="IM"][data-viewport="mobile"] .sto-buttons-wrapper {
    height: 100%;
    width: 62.96296296296296%;
    display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

.sto-container[data-type="IM"][data-viewport="mobile"][data-count="1"] .sto-buttons-wrapper {
    display: none !important;
}

.sto-container[data-type="IM"][data-viewport="mobile"] button.sto-button {
    height: 30px;
    display: none;
    margin: 0;
    border: 0;
    width: calc(50% - 15px) !important;
    height: calc(50% - 15px) !important;
    position: absolute;
    font-size: 14px;
    font-size: 2.8vw;
    line-height: 0.9;
}

.sto-container[data-type="IM"][data-viewport="mobile"] button.sto-button:nth-child(-n+4) {
    display: block;
}

.sto-container[data-type="IM"][data-viewport="mobile"] button.sto-button:nth-child(1) {
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    transform: translate(-100%, -100%);
}

.sto-container[data-type="IM"][data-viewport="mobile"][data-count="2"] button.sto-button:nth-child(1) {
    top: calc(50%);
    left: calc(50% - 5px);
    transform: translate(-100%, -50%);
}

.sto-container[data-type="IM"][data-viewport="mobile"] button.sto-button:nth-child(2) {
    top: calc(50% - 5px);
    left: calc(50% + 5px);
    transform: translate(0%, -100%);
}

.sto-container[data-type="IM"][data-viewport="mobile"][data-count="2"] button.sto-button:nth-child(2) {
    top: calc(50%);
    left: calc(50% + 5px);
    transform: translate(0%, -50%);
}

.sto-container[data-type="IM"][data-viewport="mobile"] button.sto-button:nth-child(3) {
    top: calc(50% + 5px);
    left: calc(50% - 5px);
    transform: translate(-100%, 0%);
}

.sto-container[data-type="IM"][data-viewport="mobile"] button.sto-button:nth-child(4) {
    top: calc(50% + 5px);
    left: calc(50% + 5px);
    /*transform: translate(0%, 0%);*/
}

.sto-container[data-type="IM"][data-viewport="mobile"] button.sto-button:focus {
    outline: 0;
    box-shadow: none;
}

.sto-container[data-type="IM"][data-viewport="mobile"] button.sto-button:first-child {
    margin-top: 0px;
}
