.sto-__TAG__-container[data-type="SR"][data-frame='slider'] {
    .sto-format {
        .sto-carrousel {
            .sto-product-container {
                background-image: none !important;
            }
        }
    }
    &[data-size='1'] {
        &[data-viewport="desktop"] {
            .sto-format {
                .sto-carrousel {
                    .sto-mini-product {
                            display: none;
                    }
                }
            }
        }
    }
    &[data-size='2'] {
        &[data-opt="1"] {
            .sto-carrousel {
                display: initial !important;
                width: 384px !important;
            }
        }
        &[data-opt="0"] {
            .sto-format {
                .sto-design-left {
                    display: inline-block;
                }
                .sto-carrousel {
                    width: 384px;
                    background-image: none !important;
                    margin-right: 15px;
                    .sto-mini-product {
                        display: none;
                    }
                }
            }
        }
        .sto-format {
            .sto-carrousel {
                display: block;
                .sto-main-product  {
                    .sto-product-container  {
                        background-image: none !important;
                    }
                }
            }
        }

        &[data-count="1"] {
            .sto-format {
                .sto-carrousel {
                    margin-right: 15px;
                }
            }
        }

        &[data-count="2"] {
            .sto-format {
                .sto-carrousel {
                    margin-right: 15px;
                }
            }
        }
    }
    &[data-size='3'] {
        &[data-count="2"] {
            .sto-format {
                .sto-design-right{
                    display: inline-block;
                }
            }
        }
        &[data-opt="1"] {
            .sto-carrousel {
                background-image: none !important;
                width: 384px !important;
            }
        }
        .sto-format {
            .sto-design-left {
                display: inline-block;
            }
            .sto-carrousel {
                width: 384px;
                background-image: none !important;
                .sto-mini-product {
                    display: none;
                }
            }
        }
    }
    &[data-opt="1"] {
        .sto-format {
            .sto-design-right {
                .sto-option {
                    max-width: 288px;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    margin: 0;
                    .sto-option-wrapper{
                        .sto-option-text {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &[data-count="2"] {
        &[data-viewport="desktop"] {
            .sto-format {
                .sto-carrousel {
                    width: 384px;
                    .sto-mini-product {
                        display: none;
                    }
                }
            }
        }
    }
    &[data-option='multibrand'] {
        .sto-format {
            .sto-carrousel {
                .sto-mini-product {
                    display: none;
                }
            }
        }
        &[data-size='1'] {
            display: none;

        }
        &[data-size='3'] {
            .sto-format {
                .sto-design-right {
                    width: 138px;
                }
                .sto-design-left {
                    width: 138px;
                }
            }
        }
        &[data-size='5'] {
            .sto-format {
                .sto-design-right {
                    width: 192px;
                }
                .sto-design-left {
                    width: 192px;
                }
            }
        }
    }
}
