// GENERAL
/* * {
  margin: 0;
  padding: 0;
}*/

.sto-__TAG__-container[data-type="FS"], .sto-__TAG__-container[data-type="FS"] .sto-format {
  /* height: 327px; */
  /* width: 194px; */
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

.sto-__TAG__-container[data-type="FS"] .sto-format {
    display: flex;
    border-width: 1px;
    border-style: solid;
}

.sto-__TAG__-container[data-type="FS"] .sto-format .sto-image-container {
    /* width: 576px; */
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    max-width: 576px;
    min-width: 384px;
}

.sto-__TAG__-container[data-type="FS"][data-option="redirection"] .sto-format .sto-image-container,
.sto-__TAG__-container[data-type="FS"][data-option="file"] .sto-format .sto-image-container,
.sto-__TAG__-container[data-type="FS"][data-option="video"] .sto-format .sto-image-container {
    cursor: pointer;
}

.sto-__TAG__-container[data-type="FS"] .sto-format .sto-image-container .sto-option {
    height: 100%;
    background-image: none !important;
    position: relative;
}

.sto-__TAG__-container[data-type="FS"] .sto-format .sto-product-container {
    flex: 1;
    position: relative;
    height: 100%;
}

.sto-__TAG__-container[data-type="FS"] .sto-format .sto-arrows {
    top: 50%;
    transform: translateY(-50%) !important;
    margin: 0 !important;
}

.sto-__TAG__-container[data-type="FS"] .sto-format .sto-arrow-right {
    transform: translateY(-50%) rotate(180deg) !important;
}


.sto-__TAG__-container[data-type="FS"], .sto-format {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
}

.sto-video-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.65;
  z-index: 999998;
}

.sto-video {
  width: 640px;
  height: 395px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 999999;
}

.sto-close-video {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.sto-close-video:hover {
  opacity: 0.7;
}

.sto-bg-right {
    display: none;
}

.sto-video-wrapper {
  width: 560px;
  height: 315px;
  margin: 0 auto;
  margin-top: 40px;
}

.sto-video-wrapper iframe {
  width: 100%;
  height: 100%;
}

.sto-__TAG__-container[data-type="FS"] .sto-arrows {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 120px;
    padding: 0;
    margin: 0;
    z-index: 1;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
}

.sto-__TAG__-container[data-type="FS"] .sto-arrow-right {
    right: 20px !important;
}

.sto-__TAG__-container[data-type="FS"] .sto-arrow-left {
    left: 20px !important;
    transform: rotate(180deg);
}

.sto-__TAG__-container[data-type="FS"][data-viewport="desktop"] .sto-slider-indicators {
    display: none !important;
}

@media screen and (max-width: 768px) {
    /* .sto-__TAG__-container {
      display: none;
    } */
}

/* FS MEDIUM */
.sto-__TAG__-container[data-type="FS"][data-size="medium"] {
    height: 300px;
    min-height: 300px;
}


/* FS SMALL */
.sto-__TAG__-container[data-type="FS"][data-size="small"] {
    height: 200px;
    min-height: 200px;
}


/* MOBILE */

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] {
    height: auto !important;
}
.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] {
    height: auto;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-format {
    display: flex;
    flex-direction: column;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-format .sto-image-container {
    width: 100% !important;
    background-image: none !important;
    max-width: none;
    min-width: 0 !important;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-image-container .sto-mobile-box {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}


.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-format .sto-image-container .sto-option {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-product-container {
    display: flex;
    padding: 0;
    min-height: 200px;
    margin-bottom: 30px;
    width: auto !important;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-arrows {
    display: none !important
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-product-container .sto-item-product {
    margin: 0 !important;
    display: block !important;
    position: relative;
    padding: 10px;
    width: 50% !important;
    min-width: 0 !important;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="1"] .sto-product-container>.sto-item-product.selected-item {
  width: 100% !important;
  max-width: none !important;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="3"] .sto-product-container>.sto-item-product,
.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="4"] .sto-product-container>.sto-item-product,
.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="5"] .sto-product-container>.sto-item-product {
    display: none !important;
    position: absolute;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-product-container>.sto-item-product::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0px;
    left: 0px;
    z-index: 999;
    cursor: pointer;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-product-container>.sto-item-product.selected-item::after {
    display: none;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="2"] .sto-product-container>.sto-item-product.selected-item {
    width: 50%;
    min-width: 50% !important;
    left: auto;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="3"] .sto-product-container>.sto-item-product.selected-item,
.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="4"] .sto-product-container>.sto-item-product.selected-item,
.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="5"] .sto-product-container>.sto-item-product.selected-item {
    display: block !important;
    left: 50%;
    transform: translateX(-50%);
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="3"] .sto-product-container>.sto-item-product.prev-item,
.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="4"] .sto-product-container>.sto-item-product.prev-item,
.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="5"] .sto-product-container>.sto-item-product.prev-item {
    display: block !important;
    left: -25%;
    transform: translateX(0%);
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-product-container>.sto-item-product.next-item {
    display: block !important;
    right: -25%;
    transform: translateX(0%);
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-product-container>.sto-item-product:last-of-type {

}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-product-container>.sto-slider-indicators {
    position: absolute;
    bottom: -15px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="1"] .sto-product-container>.sto-slider-indicators {
    display: none;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"][data-count="1"] .sto-product-container {
    margin-bottom: 5px;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-product-container>.sto-slider-indicators .sto-indicators-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-product-container>.sto-slider-indicators .sto-indicators-list .sto-indicator {
    list-style: none;
    background-color: #e6e6e6;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 100%;
    cursor: pointer;
    padding: 0;
}

.sto-__TAG__-container[data-type="FS"][data-viewport="mobile"] .sto-product-container>.sto-slider-indicators .sto-indicators-list .sto-indicator.current {
    background-color: #000;
}

// video
.sto-video-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.65;
  z-index: 999998;
}

.sto-video {
  width: 640px;
  height: 395px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 999999;
  @media screen and (max-width:640px) {
      width: 100%;
      padding: 40px 10px;
  }
}

.sto-close-video {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.sto-picto-close {
  position: absolute;
  display: block;
  width: 33px;
  height: 33px;
  border: 2px solid black;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: black;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.sto-close-video:hover {
  opacity: 0.7;
}

.sto-video-wrapper {
  width: 560px;
  height: 315px;
  margin: 40px auto 0;
  @media screen and (max-width:640px) {
      width: 100%;
      height: 100%;
      margin: 0;
  }
}

.sto-video-wrapper iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width:590px) {
    .sto-video {
        max-width: 100%;
        margin-left: 0;
        left: 0 !important;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }

    .sto-video iframe {
        max-width: 100%;
    }
}
