.sto-__TAG__-container[data-viewport="mobile"][data-mobile="buttons"] {
    -webkit-tap-highlight-color: transparent !important;

    .sto-format {
        .sto-image-container,
        .sto-image-container1,
        .sto-image-container2,
        .sto-image-container3,
        .sto-image-container4,
        .sto-image-container5 {
            float: none;
            width: 100%;
            height: auto;
            background-size: cover;
            position: relative;
            display: block;
        }

        .sto-image-container,
        .sto-image-container1,
        .sto-image-container2,
        .sto-image-container3,
        .sto-image-container4,
        .sto-image-container5 {
            background-image: none !important;
        }

        .sto-image-container .sto-mobile-box,
        .sto-image-container1 .sto-mobile-box1,
        .sto-image-container2 .sto-mobile-box2,
        .sto-image-container3 .sto-mobile-box3,
        .sto-image-container4 .sto-mobile-box4,
        .sto-image-container5 .sto-mobile-box5 {
            /*display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;*/
        }

        .sto-image-container, .sto-left-side {
            .sto-buttons-wrapper {
                position: relative;
            }

            &::after {
                content: "";
                display: block;
                padding-top: 24.15%;
            }

            .sto-mobile-box {
                display: block !important;
                position: absolute;
                background-size: cover;
                height: 100%;
                top: 0;
                left: 0;
                width: 100%;
            }

            .sto-logo-mobile {
                display: block;
                height: 100%;
                width: 37%;
                position: absolute;
                left: 0;
                background-position: center;
                background-repeat: no-repeat;
                visibility: visible;
                background-size: contain;
            }

            .sto-buttons-wrapper {
                position: absolute;
                padding: 0;
                right: 0;
                top: 0;
                left: auto;
                width: 63%;
                height: 100%;
                margin: 0;
                transform: none;
            }

            .sto-buttons-wrapper .sto-button {
                width: calc(50% - 15px) !important;
                height: calc(50% - 15px);
                position: absolute;
                margin: 0;
                background-size: cover;
                background-image: none !important;
                font-size: 2.3vw !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .sto-buttons-wrapper .sto-button:nth-child(1) {
                top: 50%;
                left: 50%;
                transform: translate(calc(-100% - 5px), calc(-100% - 5px));
            }

            .sto-buttons-wrapper .sto-button:nth-child(2) {
                top: 50%;
                left: 50%;
                transform: translate(calc(-100% - 5px), calc(0% + 5px));
            }

            .sto-buttons-wrapper .sto-button:nth-child(3) {
                top: 50%;
                left: 50%;
                transform: translate(calc(0% + 5px), calc(-100% - 5px));
            }

            .sto-buttons-wrapper .sto-button:nth-child(4) {
                top: 50%;
                left: 50%;
                transform: translate(calc(0% + 5px), calc(0% + 5px));
            }
            @media screen and (max-width:350px) {
                .sto-buttons-wrapper div:nth-child(1) {
                    top: 50%;
                    left: 50%;
                    transform: translate(calc(-100% - 2px), calc(-100% - 2px));
                }

                .sto-buttons-wrapper div:nth-child(2) {
                    top: 50%;
                    left: 50%;
                    transform: translate(calc(-100% - 2px), calc(0% + 2px));
                }

                .sto-buttons-wrapper div:nth-child(3) {
                    top: 50%;
                    left: 50%;
                    transform: translate(calc(0% + 2px), calc(-100% - 2px));
                }

                .sto-buttons-wrapper div:nth-child(4) {
                    top: 50%;
                    left: 50%;
                    transform: translate(calc(0% + 2px), calc(0% + 2px));
                }
            }

            .sto-buttons-wrapper .sto-button.sto-disable-bgcol,
            .sto-buttons-wrapper .sto-button.sto-disable-bgimg {
                background-image: none !important;
                background-color: __BUTTONCOULEUR__ !important;
            }

            .sto-buttons-wrapper .sto-button.sto-__PLACEHOLDER__-selButton.sto-disable-bgcol,
            .sto-buttons-wrapper .sto-button.sto-__PLACEHOLDER__-selButton.sto-disable-bgcol:hover,
            .sto-buttons-wrapper .sto-button.sto-__PLACEHOLDER__-selButton.sto-disable-bgimg,
            .sto-buttons-wrapper .sto-button.sto-__PLACEHOLDER__-selButton.sto-disable-bgimg:hover,
            .sto-buttons-wrapper .sto-button.sto-disable-bgcol:hover,
            .sto-buttons-wrapper .sto-button.sto-disable-bgimg:hover {
                background-image: none !important;
                background-color: __BUTTONCOULEURSELECT__ !important;
            }
        }
        //banner
        & > .sto-mobile-box {
            height: 100%;

            &::after {
                content: "";
                display: block;
                padding-top: 24.15%;
            }

            .sto-buttons-wrapper {
                .sto-button {
                    font-size: 2.3vw !important;
                }
            }
        }

        .sto-product-container {
            min-height: 0;
            margin: 0;
            padding: 10px;
            width: 100%;

            .sto-arrows {
                pointer-events: none;
            }

            .sto-item {
                position: relative;
                width: 100%;
                height: auto;
                padding: 10px;
                border: none;
            }
        }
    }
}

.sto-__TAG__-container[data-viewport="mobile"][data-mobile="buttons"][data-type="redirect"] .sto-logo-mobile,
.sto-__TAG__-container[data-viewport="mobile"][data-mobile="buttons"][data-type="video"] .sto-logo-mobile,
.sto-__TAG__-container[data-viewport="mobile"][data-mobile="buttons"][data-type="pdf"] .sto-logo-mobile {
    cursor: pointer;
}

.sto-__TAG__-container[data-viewport="mobile"][data-mobile="buttons"][data-count="1"] {
    .sto-logo-mobile {
        left: 50% !important;
        transform: translateX(-50%);
    }

    .sto-buttons-wrapper {
        display: none !important;
    }
}

.sto-__TAG__-container[data-viewport="mobile"][data-mobile="buttons"] {
    .sto-buttons-wrapper div:nth-child(5) {
        display: none !important;
    }

    .sto-product-container > * {
        padding: 0 !important;
    }
}

.sto-__TAG__-container[data-viewport="mobile"][data-mobile="buttons"][data-count="2"] {
    .sto-buttons-wrapper .sto-button:nth-child(1) {
        transform: translate(calc(-100% - 5px), -50%) !important;
        /*width: 55% !important;*/
    }

    .sto-buttons-wrapper .sto-button:nth-child(2) {
        transform: translate(calc(0% + 5px), -50%) !important;
        /*width: 55% !important;*/
    }
}

.sto-__TAG__-container[data-viewport="mobile"][data-mobile="buttons"][data-count="5"] {
    .sto-buttons-wrapper div:nth-child(5) {
        top: 10%;
        right: 20px;
        display: none;
    }
    @media screen and (max-width:350px) {
        .sto-buttons-wrapper div:nth-child(5) {
            top: 10%;
            right: 20px;
            display: none;
        }
    }
}
