<div class="sto-logo"></div>
<div class="sto-mobile-box">
  <div class="sto-logo-mobile"></div>
  <div class="sto-buttons-wrapper"></div>
</div>
<div class="sto-claim"></div>
<div class="sto-option"></div>
<div class="sto-block-cta"></div>

