<div class="sto-mobile-box">
    <div class="sto-logo-mobile"></div>
    <div class="sto-buttons-wrapper"></div>
</div>
<div class="sto-logo"></div>
<div class="sto-design-left"></div>
<div class="sto-logo2"></div>
<div class="sto-design-right"></div>

