/** GENERAL **/

.sto-__TAG__-container[data-type="SR"][data-frame] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
    height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid lightgray;

    &[data-size="3"] {
        .sto-format {
            .sto-design-right {
                display: block !important;
            }
        }
    }
    &[data-size="2"],
    &[data-size="3"] {
        &[data-count="1"] {
            .sto-format {
                .sto-design-left {
                    display: block;
                }
                .sto-carrousel {
                    width: 384px !important;
                }
            }
        }
    }

}
.sto-__TAG__-container[data-type="SR"]{
    &[data-frame="btn"]{
        .sto-format {
            .sto-carrousel {
                background-image: none !important;
            }
        }
        &[data-size="1"] {
            &[data-viewport='desktop']{
                .sto-format {
                    .sto-carrousel {
                        width: 384px !important;
                    }
                }
            }
        }
        &[data-size="3"],
        &[data-size="4"],
        &[data-size="5"] {
            &[data-count="4"],
            &[data-count="5"],
            &[data-count="6"] {
                .sto-format {
                    .sto-carrousel {
                        width: 618px !important;
                    }
                }
            }
        }
    }
}
.sto-__TAG__-container[data-type="SR"] .sto-bg-right {
    width: 0;
    display: none !important;
}

.sto-__TAG__-container[data-type="SR"] .sto-format {
    font-size: 0;
    position: relative;
    text-align: center;
    height: 120px;
    max-width: 1152px;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.sto-__TAG__-container[data-type="SR"] .sto-format > div,
.sto-__TAG__-container[data-type="SR"] .sto-main-product {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 120px;
    position: relative;
    vertical-align: middle;
}

.sto-__TAG__-container[data-type="SR"] .sto-main-product .sto-product-center {
    cursor: pointer;
    width: 120px;
    height: 120px;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    left: 25px;
}

.sto-__TAG__-container[data-type="SR"] .sto-arrows,
.sto-__TAG__-container[data-type="SR"] .sto-arrows-hover {
    position: absolute;
    top: 44px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 10;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: none;
}

.sto-__TAG__-container[data-type="SR"] .sto-arrow-left.sto-arrows,
.sto-__TAG__-container[data-type="SR"] .sto-arrow-left.sto-arrows-hover {
    left: 50%;
    -webkit-transform: translateX(-205px);
    -moz-transform: translateX(-205px);
    -ms-transform: translateX(-205px);
    -o-transform: translateX(-205px);
    transform: translateX(-205px);
}

.sto-__TAG__-container[data-type="SR"] .sto-arrow-right.sto-arrows,
.sto-__TAG__-container[data-type="SR"] .sto-arrow-right.sto-arrows-hover {
    right: 50%;
    -webkit-transform: translateX(205px) rotate(180deg);
    -moz-transform: translateX(205px) rotate(180deg);
    -ms-transform: translateX(205px) rotate(180deg);
    -o-transform: translateX(205px) rotate(180deg);
    transform: translateX(205px) rotate(180deg);
}

.sto-__TAG__-container[data-type="SR"][data-mobile="buttons"][data-viewport='mobile'] .sto-carrousel {
    width: 608px;
    background-image: none !important;
}

.sto-__TAG__-container[data-type="SR"] .sto-__TAG__-container[data-count="1"] .sto-carrousel {
    width: 384px;
}

.sto-__TAG__-container[data-type="SR"] .sto-carrousel .sto-carrousel-rigth-version {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: none;
}

.sto-__TAG__-container[data-type="SR"][data-count="2"][data-frame="btn"] .sto-carrousel,
.sto-__TAG__-container[data-type="SR"][data-count="3"][data-frame="btn"] .sto-carrousel {
    width: 496px;
    text-align: right;
}

.sto-__TAG__-container[data-type="SR"] .sto-main-product {
    width: 384px;
    position: relative;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
}

.sto-__TAG__-container[data-type="SR"] .sto-mobile-box {
    display: none;
}

.sto-__TAG__-container[data-type="SR"] .sto-buttons-wrapper {
    height: 120px;
    display: none;
}

.sto-__TAG__-container[data-type="SR"][data-count="1"] .sto-buttons {
    display: none;
}

.sto-__TAG__-container[data-type="SR"] .sto-buttons {
    height: 120px;
    width: 100%;
    position: absolute;
}

.sto-__TAG__-container[data-type="SR"] .sto-buttons .sto-button,
.sto-__TAG__-container[data-type="SR"] div.sto-option {
    font-family: 'Roboto', sans-serif;
    max-width: 108px;
    width: 108px;
    height: 30px;
    margin: 0 auto 5px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 11.5px;
    text-align: center;
    position: absolute;
    z-index: 1;
    outline: none;
    border: 0;
}

.sto-__TAG__-container[data-type="SR"] .sto-buttons button:nth-of-type(1) {
    top: 10px;
    left: 0;
}

.sto-__TAG__-container[data-type="SR"] .sto-buttons button:nth-of-type(2) {
    top: 45px;
    left: 0;
}

.sto-__TAG__-container[data-type="SR"] .sto-buttons button:nth-of-type(3) {
    bottom: 5px;
    left: 0;
}

.sto-__TAG__-container[data-type="SR"] .sto-buttons button:nth-of-type(4) {
    top: 10px;
    right: 0;
}

.sto-__TAG__-container[data-type="SR"] .sto-buttons button:nth-of-type(5) {
    top: 45px;
    right: 0;
}

.sto-__TAG__-container[data-type="SR"] .sto-buttons button:nth-of-type(6),
.sto-__TAG__-container[data-type="SR"] .sto-buttons div.sto-option {
    bottom: 5px;
    right: 0;
}

.sto-__TAG__-container[data-type="SR"][data-count="1"] .sto-buttons button {
    display: none;
}

.sto-__TAG__-container[data-type="SR"][data-count="2"] .sto-buttons div.sto-option,
.sto-__TAG__-container[data-type="SR"][data-count="3"] .sto-buttons div.sto-option {
    bottom: 5px;
    right: auto;
    left: 0;
}

.sto-__TAG__-container[data-type="SR"] div.sto-option {
    padding: 0;
}

.sto-__TAG__-container[data-type="SR"] div.sto-option .sto-option-text {
    position: absolute;
    width: 100%;
    top: 50%;
    text-decoration: underline;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sto-__TAG__-container[data-type="SR"] .sto-buttons .sto-buttons-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.sto-__TAG__-container[data-type="SR"] .sto-logo {
    float: left;
    height: 120px;
    width: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sto-__TAG__-container[data-type="SR"] .sto-logo2 {
    display: none !important;
    width: 150px;
}

.sto-__TAG__-container[data-type="SR"] .sto-design-left {
    width: 138px;
    float: left;
    background-size: auto;
}

.sto-__TAG__-container[data-type="SR"] .sto-design-right {
    width: 288px;
    float: right;
    background-size: auto;
}

.sto-__TAG__-container[data-type="SR"][data-frame="btn"] .sto-design-right {
    width: 192px !important;
    float: right;
    background-size: auto;
}

.sto-__TAG__-container[data-type="SR"] .sto-design-right .sto-option {
    height: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}



.sto-video-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.65;
    z-index: 999998;
}

.sto-video {
    width: 640px;
    height: 395px;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 999999;
}

.sto-close-video {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.sto-close-video:hover {
    opacity: 0.7;
}

.sto-video-wrapper {
    width: 560px;
    height: 315px;
    margin: 40px auto 0;
}

.sto-video-wrapper iframe {
    width: 100%;
    height: 100%;
}
/** HIDDEN **/
.sto-__TAG__-container[data-type="SR"] .sto-carrousel[data-v="hidden"] {
    width: 384px;
    background-color: transparent;
}

.sto-__TAG__-container[data-type="SR"] .sto-design-left[data-v="hidden"] {
    display: none;
}


/** DATA SIEZE 4 **/
.sto-__TAG__-container[data-type="SR"][data-size="4"] .sto-design-right {
    width: 192px;
}

.sto-__TAG__-container[data-type="SR"][data-size="4"][data-count="1"] .sto-design-right,
.sto-__TAG__-container[data-type="SR"][data-size="4"][data-count="2"] .sto-design-right {
    display: inline-block;
}

.sto-__TAG__-container[data-type="SR"][data-size="4"] .sto-design-left {
    display: none;
}

.sto-__TAG__-container[data-type="SR"][data-size="4"][data-count="1"] .sto-design-left {
    display: inline-block;
}
/** DATA SIEZE 3 **/
.sto-__TAG__-container[data-type="SR"][data-size="3"] .sto-design-left {
    display: none;
}

.sto-__TAG__-container[data-type="SR"][data-size="3"] .sto-design-right {
    display: none;
}

.sto-__TAG__-container[data-type="SR"][data-size="3"] .sto-product-container {
    background: none !important;
}
.sto-__TAG__-container[data-type="SR"][data-size="5"] .sto-product-container {
    background: none !important;
}

.sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="1"] .sto-design-right,
.sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="2"] .sto-design-right,
.sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="3"] .sto-design-right {
    display: inline-block;
}
// @media (max-width:1242px) {
    .sto-__TAG__-container[data-type="SR"][data-size="3"] .sto-carrousel .sto-carrousel-rigth-version {
        display: block;
        width: 384px;
    }

    .sto-__TAG__-container[data-type="SR"][data-size="3"][data-frame="btn"] .sto-carrousel .sto-main-product {
        // background-image: none !important;
    }

    .sto-__TAG__-container[data-type="SR"][data-size="3"] .sto-buttons {
        // width: 220px;
        // left: calc(50% - 232px);
    }

    .sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="2"] .sto-buttons,
    .sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="3"] .sto-buttons {
        // width: 108px;
        // left: calc(50% - 170px);
    }

    .sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="1"] .sto-buttons {
        display: block;
        background-image: inherit;
    }

    .sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="1"] .sto-buttons button {
        display: none;
    }

    .sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="1"] .sto-buttons .sto-buttons-img {
        display: block;
    }

    .sto-__TAG__-container[data-type="SR"][data-frame="btn"][data-size="3"] .sto-carrousel {
        // width: 384px;
        // float: right;
        // position: static !important;
    }

    .sto-__TAG__-container[data-type="SR"][data-size="3"] .sto-design-right {
        display: none !important;
    }
// }
/** DATA SIZE 2 **/
.sto-__TAG__-container[data-type="SR"][data-frame='btn'] {
    &[data-size="2"] {
        .sto-format {
            .sto-carrousel {
                width: calc(100% - 150px);
            }
        }
    }
}
.sto-__TAG__-container[data-type="SR"][data-size="2"] {
    .sto-format {
        display: flex;
        justify-content: space-between;

        .sto-carrousel {
            display: flex;
            justify-content: space-between;

            .sto-main-product {
                background-image: none !important;
            }

            .sto-buttons-container {
                position: relative;
                width: calc(100% - 384px);
                display: flex;
                align-items: center;

                .sto-buttons {
                    width: 230px;
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
                    margin: auto;
                    flex-direction: column;
                    padding: 6px 0;

                    .sto-button,
                    .sto-option {
                        position: relative;
                        top: auto;
                        left: auto;
                        right: auto;
                        bottom: auto;
                        margin: 3px;
                    }
                    .sto-option {
                        margin-top:auto;

                    }

                }
            }
        }
    }

    &[data-count="1"] {
        .sto-format {
            .sto-design-left {
                display: block;
                width: calc(100% - 150px - 384px);
            }

            .sto-carrousel {
                width: 384px;

                .sto-buttons-container {
                    display: none;
                }
            }
        }
    }

    &[data-count="2"],
    &[data-count="3"] {
        .sto-format {
            .sto-buttons {
                flex-direction: column;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0;
            }
        }
    }

    .sto-design-left,
    .sto-design-right,
    .sto-mini-product {
        display: none;
    }
}
/** DATA SIZE 1 **/
.sto-__TAG__-container[data-type="SR"][data-size="1"] {
    .sto-design-left,
    .sto-design-right,
    .sto-mini-product {
        display: none;
    }

    .sto-carrousel {
        width: 384px;
        background-image: none !important;

        .sto-buttons-container {
            display: none;
        }

        .sto-arrows,
        .sto-arrows-hover {
            display: block;
        }

        .sto-main-product {
            .sto-product-container {
                background-image: none !important;
            }
        }
    }
}

// video
.sto-video-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.65;
    z-index: 999998;
}

.sto-video {
    width: 640px;
    height: 395px;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 999999;
    @media screen and (max-width:640px) {
        width: 100%;
        padding: 40px 10px;
    }
}

.sto-close-video {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.sto-picto-close {
    position: absolute;
    display: block;
    width: 33px;
    height: 33px;
    border: 2px solid black;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 2px;
        background-color: black;
        height: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.sto-close-video:hover {
    opacity: 0.7;
}

.sto-video-wrapper {
    width: 560px;
    height: 315px;
    margin: 40px auto 0;
    @media screen and (max-width:640px) {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}
@media screen and (max-width:797px) {
    .sto-__TAG__-container[data-type="SR"] {
        // display: none !important;
    }
}

.sto-video-wrapper iframe {
    width: 100%;
    height: 100%;
}
@media screen and (max-width:590px) {
    .sto-video {
        max-width: 100%;
        margin-left: 0;
        left: 0 !important;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }

    .sto-video iframe {
        max-width: 100%;
    }
}
