/** DATA SIZE 1 - MOBILE **/
.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] {
    border-width: 2px !important;
    height: auto;

    .sto-format {
        height: auto;
        background-image: none;

        .sto-arrows,
        .sto-arrows-hover,
        .sto-buttons,
        .sto-logo,
        .sto-mini-product {
            display: none;
        }

        .sto-carrousel,
        .sto-main-product,
        .sto-product-container {
            width: 100%;
            background-image: none !important;
            background-color: #fff;
            height: auto;
        }

        .sto-mobile-box {
            width: 100%;
            background-size: cover;
            background-position: left top;

            .sto-logo-mobile {
                height: 100%;
                width: 37.03703703703704%;
                position: absolute;
                left: 0;
                top: 0;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            /** BUTTONS **/
            .sto-buttons-wrapper {
                height: 100%;
                width: 62.96296296296296%;
                display: inline-block;
                float: right;
                position: absolute;
                right: 0;
                top: 0;

                button.sto-button {
                    height: 30px;
                    display: none;
                    margin: 0;
                    border: 0;
                    width: calc(50% - 15px) !important;
                    height: calc(50% - 15px) !important;
                    position: absolute;
                    font-size: 14px;
                    font-size: 2.8vw;
                    line-height: 0.9;
                    background-image: none !important;

                    &:nth-child(-n+4) {
                        display: block;
                    }

                    &:nth-child(1) {
                        top: calc(50% - 5px);
                        left: calc(50% - 5px);
                        transform: translate(-100%, -100%);
                    }

                    &:nth-child(2) {
                        top: calc(50% - 5px);
                        left: calc(50% + 5px);
                        transform: translate(0%, -100%);
                    }

                    &:nth-child(3) {
                        top: calc(50% + 5px);
                        left: calc(50% - 5px);
                        transform: translate(-100%, 0%);
                    }

                    &:nth-child(4) {
                        top: calc(50% + 5px);
                        left: calc(50% + 5px);
                        /*transform: translate(0%, 0%);*/
                    }

                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        .sto-carrousel {
            .sto-product-container {
                & > * {
                    padding: 20px;
                    height: auto !important;
                }
            }
        }
    }

    &[data-prod="1"] {
        .sto-logo-mobile {
            height: 100%;
            position: absolute;
            left: 50% !important;
            top: 0;
            transform: translateX(-50%);
        }

        .sto-buttons-wrapper {
            display: none !important;
        }
    }

    &[data-prod="2"] {
        .sto-format {
            .sto-mobile-box {
                .sto-buttons-wrapper {
                    button.sto-button:nth-child(1) {
                        top: calc(50%);
                        left: calc(50% - 5px);
                        transform: translate(-100%, -50%);
                    }

                    button.sto-button:nth-child(2) {
                        top: calc(50%);
                        left: calc(50% + 5px);
                        transform: translate(0%, -50%);
                    }
                }
            }
        }
    }
}


/** BUTTONS **/
.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-buttons-wrapper {
    height: 100%;
    width: 62.96296296296296%;
    display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"][data-count="1"] .sto-buttons-wrapper {
    display: none !important;
}

// .sto-__TAG__-container[data-type="SR"][data-viewport="mobile"][data-frame="btn"][data-count="2"] .sto-buttons-wrapper {
//     display: none !important;
// }

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] button.sto-button {
    height: 30px;
    display: none;
    margin: 0;
    border: 0;
    width: calc(50% - 15px) !important;
    height: calc(50% - 15px) !important;
    position: absolute;
    font-size: 14px;
    font-size: 2.8vw;
    line-height: 0.9;
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] button.sto-button:nth-child(-n+4) {
    display: block;
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] button.sto-button:nth-child(1) {
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    transform: translate(-100%, -100%);
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"][data-count="2"] button.sto-button:nth-child(1) {
    top: calc(50%);
    left: calc(50% - 5px);
    transform: translate(-100%, -50%);
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] button.sto-button:nth-child(2) {
    top: calc(50% - 5px);
    left: calc(50% + 5px);
    transform: translate(0%, -100%);
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"][data-count="2"] button.sto-button:nth-child(2) {
    top: calc(50%);
    left: calc(50% + 5px);
    transform: translate(0%, -50%);
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] button.sto-button:nth-child(3) {
    top: calc(50% + 5px);
    left: calc(50% - 5px);
    transform: translate(-100%, 0%);
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] button.sto-button:nth-child(4) {
    top: calc(50% + 5px);
    left: calc(50% + 5px);
    /*transform: translate(0%, 0%);*/
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] button.sto-button:focus {
    outline: 0;
    box-shadow: none;
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] button.sto-button:first-child {
    margin-top: 0;
}

