.sto-__TAG__-container[data-type="SR"][data-frame='slider'] {
    .sto-format {
        .sto-carrousel {
            .sto-product-container {
                background-image: none !important;
            }
        }
    }
    &[data-size='1'] {
        &[data-viewport="desktop"] {
            .sto-format {
                .sto-carrousel {
                    .sto-mini-product {
                            display: none;
                    }
                }
            }
        }
    }
    &[data-size='2'] {
        &[data-opt="1"] {
            // .sto-carrousel {
            //     display: inline-block !important;
            //     width: 384px !important;
            // }
        }
        &[data-opt="0"] {
            .sto-format {
                .sto-design-left {
                    display: inline-block;
                }
                .sto-carrousel {
                    width: 384px;
                    // background-image: none !important;
                    margin-right: 15px;
                    .sto-mini-product {
                        display: none;
                    }
                }
            }
        }
        .sto-format {
            .sto-carrousel {
                display: inline-block;
                .sto-main-product  {
                    .sto-product-container  {
                        background-image: none !important;
                    }
                }
            }
        }

        &[data-count="1"] {
            .sto-format {
                .sto-carrousel {
                    margin-right: 15px;
                }
            }
        }

        &[data-count="2"] {
            .sto-format {
                .sto-carrousel {
                    margin-right: 15px;
                }
            }
        }
    }
    &[data-size='3'] {
        &[data-count="2"] {
            .sto-format {
                .sto-design-right{
                    display: inline-block;
                }
            }
        }
        &[data-opt="1"] {
            // .sto-carrousel {
            //     background-image: none !important;
            //     width: 384px !important;
            // }
        }
        .sto-format {
            .sto-design-left {
                display: inline-block;
            }
            .sto-carrousel {
                width: 384px;
                // background-image: none !important;
                .sto-mini-product {
                    display: none;
                }
            }
        }
    }
    &[data-opt="1"] {
        .sto-format {
            .sto-design-right {
                .sto-option {
                    max-width: 288px;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    margin: 0;
                    .sto-option-wrapper{
                        .sto-option-text {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &[data-count="2"] {
        &[data-viewport="desktop"] {
            .sto-format {
                .sto-carrousel {
                    width: 384px;
                    .sto-mini-product {
                        display: none;
                    }
                }
            }
        }
    }

    &[data-opt="0"], &[data-opt="1"] {
        &[data-count="3"],
        &[data-count="4"],
        &[data-count="5"] {
            &[data-size="2"],
            &[data-size="3"],
            &[data-size="4"] {
                .sto-format {
                    .sto-carrousel {
                        width: 576px;           
                        .sto-mini-product {
                            display: inline-block;
                            height: 120px;
                            position: relative;
                            vertical-align: middle;
                            width: 80px;
                            cursor: pointer;
                        }
                    }
                    .sto-design-right {
                        display: none;
                    }
                }
            
            } 
            &[data-size="2"] {
                .sto-carrousel {
                    margin: 0 auto !important;
                }
                .sto-design-left {
                    display: none !important;
                }
            }
        }
        &[data-count="1"],
        &[data-count="2"] {
            &[data-size="2"] {
                .sto-design-left {
                    width: 138px;
                    display: block;
                }
            }
        }
        &[data-count="1"],
        &[data-count="2"] {
            &[data-size="4"] {
                .sto-design-right {
                    width: 192px;
                }
            }
        }
 
    }
    &[data-option="redirection"],
    &[data-option="file"],
    &[data-option="video"] {
        &[data-count="3"],
        &[data-count="4"],
        &[data-count="5"] {
            &[data-size="5"] {
                @media screen and (max-width: 1199px) {
                    .sto-carrousel {
                        width: 574px !important;
                    }      
                }
            }

            // &[data-size="4"] {
            //     .sto-mini-product {
            //         display: none;
            //     }
            //     .sto-carrousel {
            //         background-image: none !important;
            //         width: 384px !important;
            //     }
            // }
        }
        &[data-count="1"],
        &[data-count="2"],
        &[data-count="3"],
        &[data-count="4"],
        &[data-count="5"]{
            &[data-size="2"],
            &[data-size="3"],
            &[data-size="4"] {
                .sto-carrousel {
                    background-image: none !important;
                    width: 384px !important;
                    .sto-mini-product {
                        display: none !important;
                    }
                }
                .sto-design-right {
                    width: 192px;
                    display: block !important;
                }
            }
            &[data-size="3"],
            &[data-size="4"] {
                .sto-design-left {
                    width: 138px;
                    display: block;
                }
                .sto-design-right {
                    width: 288px;
                    display: block !important;
                }
            }
        }
    }
    &[data-option='multibrand'] {
        &[data-size="2"],
        &[data-size="3"],
        &[data-size="4"]  {
            .sto-mini-product {
            display: none !important;
            }
            .sto-carrousel {
                width: 384px !important;
            }
        }
        @media screen and (min-width:813px){
            display: block !important;
        }
        .sto-format {
            .sto-carrousel {
                .sto-mini-product {
                    display: none;
                }
            }
        }
        &[data-size='1'] {
            display: none;

        }
        &[data-size='3'],
        &[data-size="4"] {
            .sto-format {
                .sto-design-right {
                    display: inline-block !important;
                    width: 138px !important;
                }
                .sto-design-left {
                    width: 138px !important;
                }
            }
        }
        &[data-size='4'],
        &[data-size='5'] {
            .sto-format {
                .sto-design-right {
                    width: 192px;
                }
                .sto-design-left {
                    width: 192px;
                    display: block;
                }
            }
        }
    }
}



/** GENERAL **/
/** {
  margin: 0;
  padding: 0;
}*/
.sto-__TAG__-container[data-type="SR"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    overflow: hidden;
    height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid lightgray;

    .sto-bg-right {
        width: 0;
        display: none !important;
    }

    .sto-format {
        font-size: 0;
        position: relative;
        text-align: center;
        height: 120px;
        max-width: 1152px;
        margin: 0 auto;
        background-position: center center;
        background-repeat: no-repeat;

        & > div {
            background-position: center center;
            background-repeat: no-repeat;
            display: inline-block;
            height: 120px;
            position: relative;
            vertical-align: middle;
        }

        .sto-logo {
            float: left;
            height: 120px;
            width: 150px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .sto-logo2 {
            display: none !important;
            width: 150px;
        }

        .sto-mobile-box {
            display: none;

            .sto-buttons-wrapper {
                height: 120px;
                display: none;
            }
        }

        .sto-design-left {
            width: 138px;
            float: left;
            background-size: auto;
        }

        .sto-design-right {
            width: 192px;
            float: right;
            background-size: auto;

            .sto-option {
                height: 30px;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 10px;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
                display: none;
            }
        }

        .sto-carrousel {
            width: 576px;

            .sto-mini-product {
                background-position: center center;
                background-repeat: no-repeat;
                display: inline-block;
                height: 120px;
                position: relative;
                vertical-align: middle;
                width: 80px;
                cursor: pointer;

            }
            .sto-main-product {
                width: 384px;
                position: relative;
                top: 0;
                margin: 0 auto;
                overflow: hidden;

                .sto-product-center {
                    cursor: pointer;
                    width: 120px;
                    height: 120px;
                    position: absolute;
                    background-position: center center;
                    background-repeat: no-repeat;
                    left: 25px;
                }
            }

            .sto-arrows,
            .sto-arrows-hover {
                position: absolute;
                top: 44px;
                width: 32px;
                height: 32px;
                cursor: pointer;
                z-index: 10;
                display: block;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 2;
            }

            .sto-arrow-left.sto-arrows,
            .sto-arrow-left.sto-arrows-hover {
                left: 50%;
                -webkit-transform: translateX(-205px);
                -moz-transform: translateX(-205px);
                -ms-transform: translateX(-205px);
                -o-transform: translateX(-205px);
                transform: translateX(-205px);
            }

            .sto-arrow-right.sto-arrows,
            .sto-arrow-right.sto-arrows-hover {
                right: 50%;
                -webkit-transform: translateX(205px) rotate(180deg);
                -moz-transform: translateX(205px) rotate(180deg);
                -ms-transform: translateX(205px) rotate(180deg);
                -o-transform: translateX(205px) rotate(180deg);
                transform: translateX(205px) rotate(180deg);
            }
        }
    }
}

.sto-__TAG__-container[data-option="multibrand"][data-type="SR"] .sto-bg-right {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    display: block !important;
}

.sto-__TAG__-container[data-option="multibrand"][data-type="SR"] .sto-carrousel {
    width: 384px;
    background-image: none !important;
}
.sto-__TAG__-container[data-option="multibrand"][data-type="SR"] .sto-logo2 {
    float: right;
    display: inline-block !important;
    width: 150px;
}

.sto-__TAG__-container[data-option="multibrand"][data-type="SR"] .sto-design-left {
    // width: 192px;
}

.sto-__TAG__-container[data-option="multibrand"][data-type="SR"] .sto-design-right {
    width: 192px;
}

.sto-__TAG__-container[data-option="multibrand"][data-type="SR"] .sto-design-right .sto-option {
    display: none !important;
}





.sto-__TAG__-container[data-count="1"][data-type="SR"] .sto-carrousel,
.sto-__TAG__-container[data-count="2"][data-type="SR"] .sto-carrousel {
    width: 384px;
    background-image: none !important;
}


.sto-__TAG__-container[data-count="1"][data-type="SR"] .sto-arrows,
.sto-__TAG__-container[data-count="1"][data-type="SR"] .sto-arrows-hover {
    display: none;
}






.sto-__TAG__-container[data-option="redirection"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-option="file"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-option="video"][data-type="SR"] .sto-design-right {
    width: 288px;
}

.sto-__TAG__-container[data-option="redirection"][data-type="SR"] .sto-design-right .sto-option,
.sto-__TAG__-container[data-option="file"][data-type="SR"] .sto-design-right .sto-option,
.sto-__TAG__-container[data-option="video"][data-type="SR"] .sto-design-right .sto-option {
    display: block;
}

// HEREEEEEEE

// .sto-__TAG__-container[data-type="SR"] .sto-mini-product {
//     width: 96px;
//     height: 120px;
//     display: inline-block;
//     cursor: pointer;
//     vertical-align: top;
//     position: relative;
// }

.sto-__TAG__-container[data-count="1"][data-type="SR"] .sto-mini-product,
.sto-__TAG__-container[data-count="2"][data-type="SR"] .sto-mini-product,
.sto-__TAG__-container[data-option="multibrand"][data-type="SR"] .sto-mini-product {
    display: none;
}

.sto-__TAG__-container[data-type="SR"] .sto-mini-product img {
    width: 80%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sto-__TAG__-container[data-type="SR"] .sto-mini-product[data-mini="left"] {
    left: 0;
}

.sto-__TAG__-container[data-type="SR"] .sto-mini-product[data-mini="right"] {
    right: 0;
}

.sto-video-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.65;
    z-index: 999998;
}

.sto-video {
    width: 640px;
    height: 395px;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 999999;
}

.sto-close-video {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.sto-close-video:hover {
    opacity: 0.7;
}

.sto-video-wrapper {
    width: 560px;
    height: 315px;
    margin: 40px auto 0;
}

.sto-video-wrapper iframe {
    width: 100%;
    height: 100%;
}
/** HIDDEN **/
.sto-__TAG__-container[data-type="SR"] .sto-carrousel[data-v="hidden"] {
    width: 384px;
    background-color: transparent;
}

.sto-__TAG__-container[data-type="SR"] .sto-design-left[data-v="hidden"] {
    display: none;
}

.sto-__TAG__-container[data-type="SR"] .sto-mini-product[data-v="hidden"] {
    display: none;
}

.sto-__TAG__-container[data-type="SR"] .sto-mini-product[data-v="hidden"] {
    display: none;
}
/** DATA SIEZE 4 **/
.sto-__TAG__-container[data-size="4"] .sto-design-right {
    width: 192px;
}

.sto-__TAG__-container[data-size="4"][data-option="redirection"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-size="4"][data-option="file"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-size="4"][data-option="video"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-size="4"][data-count="1"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-size="4"][data-count="2"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-size="5"][data-count="1"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-size="5"][data-count="2"][data-type="SR"] .sto-design-right {
    width: 288px;
}

.sto-__TAG__-container[data-type="SR"][data-frame="btn"] .sto-design-right {
    width: 192px !important;
}

.sto-__TAG__-container[data-option="redirection"][data-size="4"][data-type="SR"] .sto-mini-product {
    display: none;
}

.sto-__TAG__-container[data-option="redirection"][data-size="4"][data-type="SR"] .sto-carrousel {
    width: 384px;
    background-image: none !important;
}

.sto-__TAG__-container[data-option="multibrand"][data-size="4"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-option="multibrand"][data-size="4"][data-type="SR"] .sto-design-left {
    width: 138px;
}
/** DATA SIEZE 3 **/
.sto-__TAG__-container[data-size="3"][data-type="SR"][data-frame="btn"] .sto-design-right {
    display: none;
}
/*.sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="3"] .sto-design-left,
.sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="4"] .sto-design-left,
.sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="5"] .sto-design-left {
  display: none;
}*/
.sto-__TAG__-container[data-type="SR"][data-size="3"] .sto-product-container {
    background: none !important;
}

.sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="1"] .sto-design-left,
.sto-__TAG__-container[data-type="SR"][data-size="3"][data-count="2"] .sto-design-left {
    display: inline-block;
}

.sto-__TAG__-container[data-type="SR"][data-option="redirection"][data-size="3"] .sto-carrousel {
    width: 384px;
    background-image: none;
}

.sto-__TAG__-container[data-size="3"][data-option="redirection"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-size="3"][data-option="file"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-size="3"][data-option="video"][data-type="SR"] .sto-design-right {
    display: inline-block;
    width: 288px;
}

.sto-__TAG__-container[data-type="SR"][data-option="redirection"][data-size="3"] .sto-mini-product {
    display: none;
}

.sto-__TAG__-container[data-type="SR"][data-option="multibrand"][data-size="3"] .sto-design-right,
.sto-__TAG__-container[data-type="SR"][data-option="multibrand"][data-size="3"] .sto-design-left {
    display: none;
}
/** DATA SIEZE 2 **/
.sto-__TAG__-container[data-type="SR"][data-size="2"] .sto-design-right,
.sto-__TAG__-container[data-type="SR"][data-size="2"] .sto-design-left,
.sto-__TAG__-container[data-type="SR"][data-option="redirection"][data-size="2"] .sto-mini-product,
.sto-__TAG__-container[data-type="SR"][data-option="file"][data-size="2"] .sto-mini-product,
.sto-__TAG__-container[data-type="SR"][data-option="video"][data-size="2"] .sto-mini-product {
    display: none;
}

.sto-__TAG__-container[data-size="2"][data-option="redirection"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-size="2"][data-option="file"][data-type="SR"] .sto-design-right,
.sto-__TAG__-container[data-size="2"][data-option="video"][data-type="SR"] .sto-design-right {
    display: inline-block;
    width: 192px;
}

.sto-__TAG__-container[data-type="SR"][data-size="2"][data-count="1"] .sto-design-left,
// .sto-__TAG__-container[data-type="SR"][data-size="2"][data-count="2"] .sto-design-left {
//     display: inline-block;
// }

.sto-__TAG__-container[data-type="SR"][data-size="2"][data-frame="btn"] .sto-carrousel {
    width: 576px;
}

.sto-__TAG__-container[data-type="SR"][data-size="2"][data-count="1"] .sto-carrousel,
.sto-__TAG__-container[data-type="SR"][data-size="2"][data-count="1"] .sto-carrousel,
.sto-__TAG__-container[data-type="SR"][data-option="redirection"][data-size="2"] .sto-carrousel,
.sto-__TAG__-container[data-type="SR"][data-option="file"][data-size="2"] .sto-carrousel,
.sto-__TAG__-container[data-type="SR"][data-option="video"][data-size="2"] .sto-carrousel {
    width: 384px;
    background-image: none !important;
}

.sto-__TAG__-container[data-type="SR"][data-option="multibrand"][data-size="2"] {
    // height: 0 !important;
    // border: 0 !important;
    // margin: 0 !important;
    // visibility: hidden;
}
/** DATA SIEZE 1 - MOBILE **/
.sto-__TAG__-container[data-type="SR"][data-size="1"] .sto-carrousel {
    width: 384px;
    background-image: none !important;
}

.sto-__TAG__-container[data-type="SR"][data-size="1"] .sto-mini-product,
.sto-__TAG__-container[data-type="SR"][data-size="1"] .sto-design-right,
.sto-__TAG__-container[data-type="SR"][data-size="1"] .sto-design-left {
    display: none;
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-logo,
.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-design-right,
.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-design-left,
.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-mini-product,
.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-arrows,
.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-arrows-hover {
    display: none;
}

.sto-__TAG__-container[data-type="SR"][data-option="multibrand"][data-viewport="mobile"] {
    height: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    visibility: hidden;
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"],
.sto-__TAG__-container[data-viewport="mobile"][data-type="SR"] .sto-format {
    height: auto;
    background-image: none;
    width: 100%;
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-carrousel,
.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-main-product,
.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-product-container {
    width: 100%;
    background-image: none !important;
    background-color: #fff;
    height: auto;
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-mobile-box {
    width: 100%;
    background-size: cover;
    background-position: left top;
    display: block !important;
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-logo-mobile {
    height: 100%;
    width: 37.03703703703704%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"][data-count="1"] .sto-logo-mobile {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.sto-__TAG__-container[data-type="SR"][data-viewport="mobile"] .sto-product-container > * {
    padding: 20px;
    height: auto !important;
}




.sto-__TAG__-container[data-type="SR"] .sto-mini-product {
    width: 96px;
    height: 120px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    position: relative;
}

.sto-__TAG__-container[data-type="SR"][data-count="1"] .sto-mini-product,
.sto-__TAG__-container[data-type="SR"][data-count="2"] .sto-mini-product {
    display: none;
}

.sto-__TAG__-container[data-type="SR"] .sto-mini-product img {
    width: 80%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sto-__TAG__-container[data-type="SR"] .sto-mini-product[data-mini="left"] {
    left: 0;
}

.sto-__TAG__-container[data-type="SR"] .sto-mini-product[data-mini="right"] {
    right: 0;
}

.sto-__TAG__-container[data-type="SR"] .sto-mini-product[data-v="hidden"] {
    display: none;
}

.sto-__TAG__-container[data-type="SR"] .sto-mini-product[data-v="hidden"] {
    display: none;
}

.sto-__TAG__-container[data-type="SR"] .sto-format > div,
.sto-__TAG__-container[data-type="SR"] .sto-main-product,
.sto-__TAG__-container[data-type="SR"] .sto-mini_product {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 120px;
    position: relative;
    vertical-align: middle;
}