// GENERAL
/* * {
  margin: 0;
  padding: 0;
}*/
.sto-__TAG__-container[data-type="BBS"] {
  /* max-width: 300px;
  height: 100%;
  max-height: 450px; */
}

.sto-__TAG__-container[data-type="BBS"] {
  max-width: 300px;
  height: 100%;
  max-height: 450px;
}

.sto-__TAG__-container[data-type="BBS"] .sto-format {
  display: flex;
  border: 1px solid gray;
  box-sizing: border-box;
  height: 100%;
}

.sto-__TAG__-container[data-type="BBS"] .sto-format .sto-product-container {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: initial;
  text-align: left;
  vertical-align: top;
}

.sto-__TAG__-container[data-type="BBS"] .sto-format .sto-product-container .sto-vignette-header {
  // background-color: #0da82f;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  color: #fff;
}

.sto-__TAG__-container[data-type="BBS"] .sto-format .sto-product-container .sto-vignette-main {
  width: 100%;
  height: auto;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
}

.sto-__TAG__-container[data-type="BBS"] .sto-format .sto-product-container .sto-vignette-main .sto-vignette-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sto-__TAG__-container[data-type="BBS"] .sto-format .sto-product-container .sto-vignette-main .sto-vignette-image img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.sto-__TAG__-container[data-type="BBS"] .sto-format .sto-product-container .sto-vignette-main .sto-vignette-wording {
  display: inline-block;
  width: auto;
  background-color: #0da82f;
  padding: 2px 10px;
  color: #fff;
  margin: 5px 0;
  border-radius: 3px;
}

.sto-__TAG__-container[data-type="BBS"] .sto-format .sto-product-container .sto-vignette-main .sto-vignette-title br {
  display: none;
}

.sto-__TAG__-container[data-type="BBS"] .sto-format .sto-product-container .sto-vignette-price {
  text-align: right;
  margin: 20px 10px;
  font-size: 25px;
  color: #0da82f;
  font-weight: 600;
}

.sto-__TAG__-container[data-type="BBS"] .sto-format .sto-product-container .sto-vignette-abk {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  background-color: #0da82f;
  color: #fff;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}

.sto-__TAG__-container[data-type="BBS"], .sto-format {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
}

/* modal box */
.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background-color: #fff;
  display: none;
  padding-bottom: 60px;
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-container[data-state="on"] {
  animation: modalboxon 300ms forwards;
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-container[data-state="off"] {
  animation: modalboxoff 300ms forwards;
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
  top: 0 !important;
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-layout[data-state="on"] {
  animation: modalboxLayouton 300ms forwards;
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-layout[data-state="off"] {
  animation: modalboxLayoutoff 300ms forwards;
}

@keyframes modalboxon {
  0% {
    /* top: 40%; */
    opacity: 0;
  }

  100% {
    /* top: 50%; */
    opacity: 1;
  }
}

@keyframes modalboxoff {
  0% {
    opacity: 1;
    /* top: 50%; */
  }

  100% {
    /* top: 40%; */
    opacity: 0;
  }
}

@keyframes modalboxLayouton {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modalboxLayoutoff {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-header {
  height: 40px;
  background-color: #0da82f;
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-close {
  position: absolute;
  right: 5px;
  top: 5px;
  border: 2px solid #fff;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  transform: rotate(45deg);
  cursor: pointer;
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-close::before, .sto-__TAG__-container[data-type="BBS"] .sto-modalbox-close::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 20px;
  width: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-close::after {
  height: 2px;
  width: 20px;
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-products {
  display: flex;
  padding: 20px;
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-container .sto-item {
  display: block !important;
  margin: 0 10px;
  border: 1px solid rgb(148, 148, 148);
  position: relative;
  flex: 1 1 0;
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-container .sto-item .sto-prod-count {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 55px;
  color: #545454;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 1;
  transform: rotate(20deg);
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-container .sto-item:not(:last-of-type)::after {
  content: '+';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0da82f;
  border-radius: 100%;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  right: -26px;
  line-height: 26px;
  z-index: 999;
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-container .sto-item {
  display: block !important;
  margin: 0 10px;
}

.sto-__TAG__-container[data-type="BBS"] .sto-modalbox-global-abk {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  font-size: 20px;
  color: #fff;
  background-color: #0da82f;
  padding: 5px 20px;
  border-radius: 50px;
  cursor: pointer;
}

/* cta */
.sto-video-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.65;
  z-index: 999998;
}

.sto-video {
  width: 640px;
  height: 395px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 999999;
}

.sto-close-video {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.sto-close-video:hover {
  opacity: 0.7;
}

.sto-bg-right {
  display: none;
}

.sto-video-wrapper {
  width: 560px;
  height: 315px;
  margin: 0 auto;
  margin-top: 40px;
}

.sto-video-wrapper iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  /* .sto-__TAG__-container {
      display: none;
    } */
}

/* MOBILE */
.sto-__TAG__-container[data-type="BBS"][data-viewport="mobile"] {

}

.sto-__TAG__-container[data-type="BBS"][data-viewport="mobile"] .sto-modalbox-container {
  width: calc(100% - 20px);
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  height: auto;
}

.sto-__TAG__-container[data-type="BBS"][data-viewport="mobile"] .sto-modalbox-container .sto-modalbox-products {
  flex-direction: column;
}

.sto-__TAG__-container[data-type="BBS"][data-viewport="mobile"] .sto-modalbox-container .sto-modalbox-products .sto-item {
  margin: 10px 0;
  display: flex !important;
}


.sto-__TAG__-container[data-type="BBS"][data-viewport="mobile"] .sto-modalbox-container .sto-item:not(:last-of-type)::after {
  right: auto;
  left: 50%;
  top: auto;
  bottom: -26px;
  transform: translateX(-50%);
}
