.sto-api-container[data-type="VI"] {
  background-color: __BG-CONTAINER__;
  .sto-format {
    background-image: __IMG-CONTAINER__;
    .sto-image-container {
      .sto-mobile-box {
        background-image: __IMG-MOBILE__;
      }
      .sto-logo-mobile {
        background-image: __IMG-LOGO-MOBILE__;
      }
      .sto-button-normal {
        background-image: __IMG-BUTTON__;
        background-color: __BG-BUTTON__;
        color: __TXT-BUTTON__;
        border-radius: 5px;
      }
      .sto-button-selected {
        background-image: __IMG-BUTTON-SELECTED__;
        background-color: __BG-BUTTON-SELECTED__;
        color: __TXT-BUTTON-SELECTED__;
        border-radius: 5px;
      }
      .sto-option-text {
        color: __TXT-OPTION__;
      }

      .sto-option {
        background-image: __IMG-OPTION__;
      }
    }
  }
}
//
// * {
//   margin: 0;
//   padding: 0;
// }

.sto-__TAG__-container[data-type=VI] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  background-position: top center;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}

.sto-__TAG__-container[data-type=VI] .sto-format {
  height: 100% !important;
  background-position: top center;
  background-repeat: no-repeat;
}

.sto-__TAG__-container[data-type=VI] .sto-option {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sto-__TAG__-container[data-type=VI] {
    // background-color: transparent !important;
    width: 100%;
    height: 100%;
    border: 1px solid;
    box-sizing: border-box;
    cursor: pointer;
}

.sto-__TAG__-container[data-type=VI] .sto-format,
.sto-__TAG__-container[data-type=VI] .sto-vignette  {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    border: 1px solid;
}

.sto-__TAG__-container[data-type=VI] .sto-vignette  {
    background-repeat: no-repeat;
    background-position: top center;
}

.sto-__TAG__-container[data-type=VI] .sto-vignette .sto-product-container {
    display: none;
}

/**  VIGNETTE - REDIRECTION  **/
.sto-__TAG__-container[data-type=VI][data-frame="fixed"] .sto-option-wrapper,
.sto-__TAG__-container[data-type=VI][data-frame="companion"] .sto-option-wrapper {
  position: absolute;
  width: 90%;
  height: 30px;
  left: 5%;
  bottom: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.sto-__TAG__-container[data-type=VI][data-frame="fixed"] .sto-option-text,
.sto-__TAG__-container[data-type=VI][data-frame="companion"] .sto-option-text {
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sto-__TAG__-container[data-type=VI][data-frame="fixed"] .sto-option,
.sto-__TAG__-container[data-type=VI][data-frame="companion"] .sto-option {
  background: none !important;
}

.sto-__TAG__-container[data-type=VI][data-frame="fixed"][data-viewport="mobile"],
.sto-__TAG__-container[data-type=VI][data-frame="companion"][data-viewport="mobile"] {
  width: 100%;
}

.sto-__TAG__-container[data-type=VI][data-frame="fixed"][data-viewport="mobile"] .sto-mobile-box,
.sto-__TAG__-container[data-type=VI][data-frame="companion"][data-viewport="mobile"] .sto-mobile-box {
  display: block !important;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.sto-__TAG__-container[data-type=VI][data-frame="fixed"][data-viewport="mobile"] .sto-option-wrapper,
.sto-__TAG__-container[data-type=VI][data-frame="companion"][data-viewport="mobile"] .sto-option-wrapper {
  display: none;
}

/**  VIGNETTE - PRODUCT STAR  **/
.sto-__TAG__-container[data-type=VI][data-frame="star"],
.sto-__TAG__-container[data-type=VI][data-frame="star"] .sto-format {
  background: none !important;
}

.sto-__TAG__-container[data-type=VI][data-frame="star"] {
  border: 1px solid lightgray;
}

.sto-__TAG__-container[data-type=VI][data-frame="star"] .sto-product-container {}

.sto-__TAG__-container[data-type=VI][data-frame="star"] .sto-product-container>* {
  width: 100%;
}

.sto-__TAG__-container[data-type=VI][data-frame="star"] .sto-option {
  background-image: none !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  line-height: 25px;
}

.sto-__TAG__-container[data-type=VI][data-frame="star"] .sto-option-wrapper {
  position: relative;
}

/**  VIGNETTE - CROSS  **/
.sto-__TAG__-container[data-type=VI][data-frame="cross"],
.sto-__TAG__-container[data-type=VI][data-frame="cross"] .sto-format {
  background: none !important;
  overflow: visible;
}

.sto-__TAG__-container[data-type=VI][data-frame="cross"] {
  border: 1px solid lightgray;
}

.sto-__TAG__-container[data-type=VI][data-frame="cross"] .sto-product-container {}

.sto-__TAG__-container[data-type=VI][data-frame="cross"] .sto-product-container>* {
  width: 100%;
}

.sto-__TAG__-container[data-type=VI][data-frame="cross"] .sto-option {
  background-image: none !important;
  position: absolute;
  top: 49px;
  left: -17px;
  width: 50px;
  height: 35px;
  line-height: 25px;
}

.sto-__TAG__-container[data-type=VI][data-frame="cross"] .sto-option:before {
  display: inline-block;
  content: ' ';
  position: absolute;
  width: 24.39px;
  height: 24.39px;
  transform: translateY(-50%) rotate(45deg);
  top: 18px;
  left: -12.3px;
  z-index: -1;
}

.sto-__TAG__-container[data-type=VI][data-frame="cross"] .sto-option-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.sto-__TAG__-container[data-type=VI][data-frame="cross"] .sto-option-text {
  font-size: 12px;
  line-height: 0.9;
  display: inline-block;
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  width: calc(100% - 10px);
  word-break: break-all;
  left: 0;
}
