<div class="sto-format">
    <div class="sto-logo"></div>
    <div class="sto-mobile-box">
        <div class="sto-logo-mobile"></div>
        <div class="sto-buttons-wrapper"></div>
    </div>
    <div class="sto-design-left"></div>
    <div class="sto-carrousel">
        <div class="sto-arrow-left sto-product sto-mini-product"><img /></div>
        <div class="sto-arrow-left sto-custom-arrow-left sto-arrows"></div>
        <div class="sto-main-product">
            <div class="sto-product sto-product-center"></div>
            <div class="sto-product-container"></div>
        </div>
        <div class="sto-arrow-right sto-custom-arrow-right sto-arrows"></div>
        <div class="sto-arrow-right sto-product sto-mini-product"><img /></div>
    </div>
    <div class="sto-logo2"></div>
    <div class="sto-design-right">
        <div class="sto-option"></div>
    </div>
</div>
