<div class="sto-container">
    <div class="sto-wording"></div>
    <div class="sto-format">
        <div class="sto-image-container">
            <div class="sto-image-web"></div>
            <div class="sto-image-mobile"></div>
            <div class="sto-option"></div>
            <div class="sto-option2"></div>
        </div>
        <div class="sto-product-container"></div>
        <div class="sto-mobile-options"></div>
    </div>
</div>