.sto-container[data-type="SC"] {
    height: 561px;
    width: 100%;
    max-width: 1200px;
    margin: 70px auto;
    position: relative;
    padding-left: 10px;

    .sto-wording {
        position: absolute;
        top: -54px;
        width: calc(100% - 2px);
        text-align: center;
        font-size: 25px;
        font-weight: 700;
    }

    .sto-format {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 100%;
        font-size: 0;
    }

    .sto-image-container {
        width: 260px;
        height: 100%;
        position: relative;
        display: inline-block;
    }

    .sto-product-container {
        width: calc(100% - 260px);
        height: 100%;
        display: inline-block;
        overflow: hidden;
    }

    .sto-product-container > * {
        float: left;
        vertical-align: top;
        width: 220px;
        margin: 1px 5px 0 5px;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .sto-option, .sto-option2 {
        /* initially don't display, unless data-populated is true */
        display: none;
        width: calc(100% - 20px);
        height: 30px;
        line-height: 30px;
        position: absolute;
        left: 10px;
        bottom: 7px;
        cursor: pointer;
        text-align: center;
        font-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sto-option[data-populated="true"], .sto-option2[data-populated="true"] {
        display: block;
    }
}

/* Border line */
.sto-container[data-type="SC"]::after {
    content: ' ';
    width: 100%;
    background-color: #ccc;
    height: 1px;
    position: absolute;
    bottom: -16px;
}

.sto-container[data-type="SC"][data-viewport="desktop"] {
    .sto-image-container .sto-image-mobile {
        display: none;
    }

    .sto-image-container .sto-image-web {
        height: 100%;
        background-repeat: no-repeat;
        background-position: top center;
    }
}

.sto-container[data-type="SC"][data-viewport="mobile"] {
    height: auto;
    max-width: 350px;
    padding-left: 0px;

    .sto-image-container {
        width: 100%;
    }

    .sto-image-container .sto-image-web {
        display: none;
    }

    .sto-image-container .sto-image-mobile {
        padding-top: 24.2%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .sto-product-container {
        width: 100%;
        margin-bottom: -1px;
        border-bottom: 1px solid #ccc;
    }

    .sto-product-container > * {
        margin: 0;
        width: 100%;
        max-width: 100%;
        border-bottom: 1px solid lightgray;
        display: none !important;
    }

    .sto-wording {
        top: -34px;
        font-family: "roboto-bold", "Arial", "Helvetica", "Sans-serif";
        font-size: 20px;
        font-weight: 100;
    }

    /* Only display the first 3 products */
    .sto-product-container > *:nth-child(1), .sto-product-container > *:nth-child(2),.sto-product-container > *:nth-child(3) {
        display: block !important;
    }

    .sto-mobile-options {
        display: flex;
        flex-direction: row;
    }

    .sto-mobile-options .sto-option,
    .sto-mobile-options .sto-option2 {
        position: static;
        margin: 10px auto;
        width: 50%;
        text-align: center;
    }
}

/* Video Option */
.sto-video-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.65;
    z-index: 999998;
}

.sto-video {
    width: 640px;
    height: 395px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 999999;
}

.sto-close-video {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.sto-close-video:hover {
    opacity: 0.7;
}

.sto-picto-close {
    position: absolute;
    display: block;
    width: 33px;
    height: 33px;
    border: 2px solid black;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 2px;
        background-color: black;
        height: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.sto-video-wrapper {
    width: 560px;
    height: 315px;
    margin: 40px auto 0;
}

.sto-video-wrapper iframe {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 590px) {
    .sto-video {
        max-width: 100%;
        margin-left: 0;
        left: 0 !important;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }

    .sto-video-wrapper, .sto-video iframe {
        max-width: 100%;
    }
}